<div class="label-selection">
  <div class="title">
    Labels
  </div>
  <div class="dialects">
    {{#each parentDialects as |dialect|}}
      {{label-group parentLabel=dialect selectedLabels=selectedLabels showChildrenAsChecked=true}}
    {{/each}}
  </div>
  <div class="non-dialects">
    {{#each parentLabels as |label|}}
      {{label-group parentLabel=label selectedLabels=selectedLabels}}
    {{/each}}
  </div>
</div>
