
{{#if (is-equal seq.action "add")}}
  <label>
    Enter a new string of letters that should be associated with the meaning(s) below.
    {{validated-input value=seq.text errors=errors.seq.text}}
  </label>
  <button class="remove" {{action "remove"}}>
    <span class="ion-trash-a"></span>
  </button>
{{else}}
  {{seq.text}}
{{/if}}
