<div class="label-selection">
  <div class="title">
    Labels
  </div>
  <div class="dialects">
    {{#each dialect in parentDialects}}
      {{label-group parentLabel=dialect selectedLabels=selectedLabels useId=useId showChildrenAsChecked=true}}
    {{/each}}
  </div>
  <div class="non-dialects">
    {{#each label in parentLabels}}
      {{label-group parentLabel=label selectedLabels=selectedLabels useId=useId}}
    {{/each}}
  </div>
</div>
