<div class="latest-blog-posts">
  <h2>Latest Blog Posts</h2>

  <ul>
    {{#each post in blogPosts}}
      <li>{{#link-to blog blog}}x _ {{post.title}}{{/link-to}}</li>
    {{/each}}
    <li>{{#link-to blog blog}}title{{post.title}}{{/link-to}}</li>
    <li>{{#link-to blog blog}}BLOG POST{{/link-to}}</li>
  </ul>

</div>
