<div class="latest-blog-posts">
  <h2>Latest Blog Posts</h2>

  <ul>
    <li>{{#link-to blog blog}}Entry Title{{/link-to}}</li>
    <li>{{#link-to blog blog}}Entry Title{{/link-to}}</li>
    <li>{{#link-to blog blog}}Entry Title{{/link-to}}</li>
  </ul>
</div>
