<div class="latest-blog-posts">
  <h2>Latest Blog Posts</h2>

  <ul>
    <li><a href="/posts/new-feature-achievement-badges">New Feature: Achievement Badges!</a></li>
    <li><a href="/posts/congratulations-cant-even">Congratulations "Can't Even"</a></li>
    <li><a href="/posts/varieties-and-labels">Varieties of English and Labels</a></li>
    {{#each post in blogPosts}}
      <li>{{#link-to post post}}{{post.title}}{{/link-to}}</li>
    {{/each}}
  </ul>

</div>
