<div class="latest-blog-posts">
  <h2>Latest Blog Posts</h2>

  <ul>
    {{#each posts as |post|}}
      <li>{{#link-to "post" post.id}} {{post.title}} {{/link-to}}</li>
    {{/each}}
    <li>{{#link-to "posts"}}More posts{{/link-to}}</li>
  </ul>

</div>
