<li>
  <div class="info" tabindex="0">
    <div class="meaning">
      <div class="defWrap">
        <div class="def">
          {{label-display labels=meaning.labels}}
          {{meaning.def}}
        </div>
      </div> <!-- defWrap div -->

      {{#if meaning.example}}
      <div class="quoteWrap">
        <div class="quote">
          <span class="quotemark">“</span>
          {{meaning.example}}
          <span class="quotemark">”</span>
        </div>
      </div>
      {{/if}}

      {{#if meaning.synonyms}}
        <span class="synonym-title">Synonyms:</span>
        {{#each meaning.synonyms as |synonym|}}
          {{#link-to "seq.wordset.index" meaning.wordset.lang.id synonym class="synonym"}}
            {{synonym}}
          {{/link-to}}
        {{/each}}
      {{/if}}
    </div> <!-- meaning div -->
  </div>
</li>
