{{#if showError}}
  <span class="error">{{errors}}</span>
  {{yield}}
{{/if}}
<div class="textarea">
  {{textarea value=value focus-out="showErrors" placeholder="No example sentence. Please add one!"}}
</div>
