<div class="textarea {{if anyErrors 'error-input'}}">
  {{textarea value=value focus-out="showErrors" placeholder=placeholder disabled=disabled}}
</div>
{{#if showError}}
  {{#if anyErrors}}
    <div class="error">
      {{errors.[0]}}
      {{yield}}
    </div>
  {{/if}}
{{/if}}
