{{#if showError}}
  {{#each error in errors}}
  <div class="error">
    {{error}}
    {{yield}}
  </div>
  {{/each}}

{{/if}}
<div class="textarea">
  {{textarea value=value focus-out="showErrors" placeholder=placeholder}}
</div>
