{{#if showError}}
  {{#if anyErrors}}
    <div class="error">
      {{errors.[0]}}
      {{yield}}
    </div>
  {{/if}}
{{/if}}

<div class="textarea">
  {{textarea value=value focus-out="showErrors" placeholder=placeholder}}
</div>
