<ul class="entries">
  {{#each entry in word.entries}}
    <div class="pos">{{entry.pos}}</div>
    <ol class="meanings">
      {{#each meaning in entry.meanings}}
        {{meaning-display meaning=meaning action="submitSuggestion" recentlySuggestedModels=recentlySuggestedModels}}
      {{/each}}
    </ol>
  {{/each}}
</ul>
