<ul class="entries">
  {{#each entry in word.entries}}
    <div class="pos">{{entry.pos}}</div>
    <ol class="meanings">
      {{#each meaning in entry.meanings}}
        <li>
          <div class="info">
            <div class="meaning">
              {{#suggestable-area model=meaning field=meaning.def action="submitSuggestion"}}
              <div class="def">{{meaning.def}}</div>
              {{/suggestable-area}}

              {{#if meaning.quotes}}
              <div class="quoteWrap">
                {{#each quote in meaning.quotes}}
                  <div class="quote">
                    {{#suggestable-area model=quote field=quote.text action="submitSuggestion"}}
                    <span class="quotemark">“</span>
                    {{quote.text}}
                    <span class="quotemark">”</span>
                    {{/suggestable-area}}
                  </div>
                {{/each}}
              </div>
              {{/if}}
            </div>
          </div>
        </li>
      {{/each}}
    </ol>
  {{/each}}
</ul>
