header, nav, footer, .panel {
  display: none;
}

body {
  padding-top: 0px;
}

.wordWrap {
  .word {
    font-size: 2em;
    margin-bottom: 10px;
  }
}
.meanings {
  li {
    margin-bottom: 20px;
  }
  .info {
    display: inline-block;
    vertical-align: text-top;
  }
  .meaning {
    display: inline-block;
  }
}

.add-new-meaning {
  display: none;
}
