body {
  color: $black;
  font-family: $sans-serif;
}

a {
  color: $teal;
  cursor: pointer;
  text-decoration: underline;
  @include transition();
}

input {
  box-sizing: border-box;
}

button {
  background: $teal;
  border: 0;
  color: #FFF;
  cursor: pointer;
  display: block;
  font-size: 18px;
  padding: 10px 20px;
}

.search, .wordList, .content {
  margin: auto;
  @media screen and (min-width: $large) {
    max-width: 740px;
  }
  @media screen and (max-width: $large) {
    max-width: 500px;
  }
  @media screen and (max-width: $medium) {
    width: 100%;
  }
}

.search, .content {
  padding: 0px 20px;
}

.content {
  padding-top: 40px;
  @media screen and (max-width: $small) {
    width: 90%;
  }
}
