body {
  color: $text-color;
  font-family: $sans-serif;
  font-size: 18px;
}

h1, h2, h3 {
  color: $header-color;
}

h1 {
  font-size: 30px;
  margin-bottom: 30px;
}

h2 {
  font-size: 22px;
  margin-bottom: 20px;
}

p {
  line-height: 1.4em;
  margin-bottom: 20px;
}

a {
  @include transition();
  color: $anchor-color;
  cursor: pointer;
  text-decoration: underline;
  &:hover {
    color: $anchor-hover-color;
  }
}

input {
  box-sizing: border-box;
  font-family: $sans-serif;
  margin-top: 5px;
}

textarea {
  border: 1px solid #CCC;
  box-shadow: inset 0px 1px 1px #DDD;
  box-sizing: border-box;
  font-family: $sans-serif;
  font-size: 16px;
}

button {
  @include transition();
  background: $button-background-positive;
  border: 0;
  border-radius: 2px;
  box-shadow: inset 0px 1px 1px lighten($button-background-positive, 15%), 0px 1px 1px #DDD;
  &, a, a:hover {
    color: #FFF;
    cursor: pointer;
    display: block;
    font-size: 18px;
    text-decoration: none;
  }
  padding: 10px 20px;
  text-shadow: 0px 1px 0px $button-hover-background-positive;
  &:hover {
    background: $button-hover-background-positive;
  }
  &.negative {
    background: $button-background-negative;
    box-shadow: inset 0px 1px 1px lighten($button-background-negative, 15%), 0px 1px 1px #DDD;
    text-shadow: 0px 1px 0px $button-hover-background-negative;
    &:hover {
      background: $button-hover-background-negative;
    }
  }
  &.flag {
    background: $button-background-flag;
    box-shadow: inset 0px 1px 1px lighten($button-background-flag, 15%), 0px 1px 1px #DDD;
    text-shadow: 0px 1px 0px $button-hover-background-flag;
    &:hover {
      background: $button-hover-background-flag;
    }
  }
  &[disabled] {
    background: #CCC;
    box-shadow: none;
    color: #AAA;
    cursor: inherit;
    text-shadow: none;
  }
}

.search, .wordList, .wrapper {
  margin: auto;
  @media screen and (min-width: $large) {
    max-width: 740px;
  }
  @media screen and (max-width: $large) {
    max-width: 500px;
  }
  @media screen and (max-width: $medium) {
    width: 100%;
  }
}

.search, .wrapper {
  padding: 0px 20px;
}

.wrapper {
  padding-top: 40px;
  position: relative;
  @media screen and (max-width: $small) {
    width: 90%;
  }
}

.table-wrapper {
  margin: auto;
  padding-top: 40px;
  position: relative;
  @media screen and (min-width: $large) {
    max-width: 740px;
  }
  @media screen and (max-width: $large) {
    max-width: 90%;
  }
}

.animated {
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  transition: height 0.2s;
}

html, body, body > div, .main-content, .content, .messages {
  height: 100%;
}

.mainArea {
  overflow: hidden;
}

.content, .messageList {
  overflow: auto;
}
