body {
  color: $text-color;
  font-family: $sans-serif;
  font-size: 18px;
}

h1, h2, h3 {
  color: $h-color;
}

h1 {
  font-size: 30px;
  margin-bottom: 30px;
}

h2 {
  font-size: 22px;
  margin-bottom: 20px;
}

p {
  line-height: 1.4em;
  margin-bottom: 20px;
}

strong {
  font-weight: 500;
}

em {
  font-style: italic;
}

a {
  @include transition();
  color: $anchor-color;
  cursor: pointer;
  text-decoration: underline;
  &:hover {
    color: $anchor-hover-color;
  }
  &.button {
    @include button($button-background-positive,
                    $button-border-positive,
                    $button-hover-background-positive,
                    $button-text-shadow-positive);
  }
}

input {
  box-sizing: border-box;
  font-family: $sans-serif;
  margin-top: 5px;
}

textarea {
  border: 1px solid #CCC;
  box-shadow: inset 0px 1px 1px #DDD;
  box-sizing: border-box;
  font-family: $sans-serif;
  font-size: 16px;
}

button {
  @include button($button-background-positive,
                  $button-border-positive,
                  $button-hover-background-positive,
                  $button-text-shadow-positive);

  &.negative {
    @include button($button-background-negative,
                    $button-border-negative,
                    $button-hover-background-negative,
                    $button-text-shadow-negative);
  }
  &.flag {
    @include button($button-background-flag,
                    $button-border-flag,
                    $button-hover-background-flag,
                    $button-text-shadow-flag);

  }
  &.skip {
    @include button($button-background-skip,
                    $button-border-skip,
                    $button-hover-background-skip,
                    $button-text-shadow-skip);

  }
  &[disabled] {
    background: #CCC;
    border: #BBB;
    color: #AAA;
    cursor: inherit;
    text-shadow: none;
  }
}

.search, .wordList, .wrapper {
  margin: auto;
  @media screen and (min-width: $large) {
    max-width: 740px;
  }
  @media screen and (max-width: $large) {
    max-width: 500px;
  }
  // @media screen and (max-width: $small) {
  //   width: 100%;
  // }
}

.search {
  padding: 0px 20px;
}

.wrapper {
  padding: 40px 20px;
  position: relative;
  @media screen and (max-width: $small) {
    width: 90%;
  }
}

.table-wrapper {
  margin: auto;
  padding: 40px 0px;
  position: relative;
  @media screen and (min-width: $large) {
    max-width: 740px;
  }
  @media screen and (max-width: $large) {
    max-width: 90%;
  }
}

.animated {
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  transition: height 0.2s;
}

html, body, body > div, .main-content, .content, .messages {
  height: 100%;
}

.mainArea {
  overflow: hidden;
}

.content, .message-list {
  overflow: auto;
}


// Ember  thing to make actions clickable
notification, [data-ember-action] {
  cursor: pointer;
}
