body {
  color: $black;
  font-family: $sans-serif;
}

a {
  cursor: pointer;
  text-decoration: underline;
  &:hover {

  }
  @include transition();
}

.search, .wordList, .content {
  margin: auto;
  @media screen and (min-width: $large) {
    max-width: 740px;
  }
  @media screen and (max-width: $large) {
    max-width: 500px;
  }
  @media screen and (max-width: $medium) {
    width: 100%;
  }
}

.search, .content {
  padding: 0px 20px;
}

.content {
  padding-top: 40px;
  @media screen and (max-width: $small) {
    width: 90%;
  }
}
