@mixin transition($time: 0.5s, $type: all) {
  -webkit-transition: $type $time ease;
     -moz-transition: $type $time ease;
      -ms-transition: $type $time ease;
       -o-transition: $type $time ease;
          transition: $type $time ease;
}

@mixin rotate($deg) {
  -webkit-transform: rotate($deg);
       -o-transform: rotate($deg);
          transform: rotate($deg);
}


@mixin media-max-width($width) {
  @media screen and (max-width: #{$width}) {
    @content;
  }
  .show-chat & {
    @media screen and (max-width: #{$width + $chat-width}) {
      @content;
    }
  }
}

@mixin media-min-width($width) {
  @media screen and (min-width: #{$width}) {
    @content;
  }
  .show-chat & {
    @media screen and (min-width: #{$width + $chat-width}) {
      @content;
    }
  }
}
