@mixin transition($time: 0.5s, $type: all) {
  -webkit-transition: $type $time ease;
     -moz-transition: $type $time ease;
      -ms-transition: $type $time ease;
       -o-transition: $type $time ease;
          transition: $type $time ease;
}

@mixin rotate($deg) {
  -webkit-transform: rotate($deg);
       -o-transform: rotate($deg);
          transform: rotate($deg);
}


@mixin media-max-width($width) {
  @media screen and (max-width: #{$width}) {
    @content;
  }
  .show-panel & {
    @media screen and (max-width: #{$width + $chat-width}) {
      @content;
    }
  }
}

@mixin media-min-width($width) {
  @media screen and (min-width: #{$width}) {
    @content;
  }
  .show-panel & {
    @media screen and (min-width: #{$width + $chat-width}) {
      @content;
    }
  }
}

@mixin underline($color: $blue-2) {
  position: relative;
  &:after {
    @include transition;
    border-bottom: 2px solid $color;
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    margin-top: -1px;
    opacity: 0;
    width: 100%;
  }
  &:hover:after {
    opacity: 1;
  }
}

@mixin button($background, $border, $hover-color, $text-shadow) {
  @include transition();
  background: $background;
  border: 1px solid $border;
  -moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
  padding: 12px 30px;
  text-align: center;
  text-shadow: 0px 1px 0px $text-shadow;
  &, a, a:hover {
    color: #FFF;
    cursor: pointer;
    display: block;
    font-size: 18px;
    text-decoration: none;
  }
  &:hover {
    background: $hover-color;
  }
  &:active {
  	position: relative;
  	top: 1px;
  }
}

@mixin quiz-box($text-bg: $blue-2, $text-c: #FFF, $border: $blue-3) {
  border: 1px solid $border;
  border-radius: 2px;
  margin-bottom: 20px;
  .text {
    background: $text-bg;
    box-shadow: none;
    height: inherit;
    padding: 10px 0px;
    width: 100%;
    h2 {
      color: $text-c;
      line-height: 1.2em;
      margin: 0px 0px 0px 10px;
    }
  }
  
}


@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  from {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
