$serif: Garamond, serif;
$sans-serif: "Avenir Next", sans-serif;

// Screen sizes
$chat-width: 300px;

$large: 1200px;
$medium: 940px;
$header-medium: 780px;
$med-small: 670px;
$small: 550px;

$large-chat: $large + $chat-width;

// Colours

$black: #100B00;
$lime: #81C14B;
$dark-green: #3E5641;
$mint: #AFE0A1;
$yellow: #EEE82C;
$taupe: #929487;
$light-grey: #ECECEC;
$red: #BF2719;
$light-green: lighten($dark-green, 20%);
$lightest-green: lighten($dark-green, 69%);

$brown: #6B6054;

$purple: #54428E;
$blue: #7C99B4;
$dark-blue: #010D2A;


// New Colours

$blue-1: #00C9FC;
$blue-2: #0a9abf;
$blue-3: #0f6f87;

$pink-1: #fc0065;
$pink-2: #bf0a53;
$pink-3: #870f3f;

$green-1: #00fc00;
$green-2: #0abf0a;
$green-3: #0f870f;

$yellow-1: #fcca00;
$yellow-2: #bf9b0a;
$yellow-3: #876f0f;

// Brand Colours

$twitter-blue: #55ACEE;
$facebook-blue: #3B5998;

// Colour Uses

$header-color: $blue-3;
$header-background: #FFF;
$header-color-selected: $blue-2;

$menu-background: $blue-2;
$menu-color: #FFF;

$body-background: #FFF;
$text-color: $black;
$h-color: $blue-3;

$footer-color: $blue-2;
$footer-background: #FFF;

$anchor-color: $blue-2;
$anchor-hover-color: darken($blue-2, 10%);

$maybe-color: $yellow-2;

$notification-background: $green-1;
$notification-color: #FFF;

$error-color: $pink-3;

$enter-button: $blue-1;

$button-background-positive: $green-2;
$button-border-positive: $green-3;
$button-hover-background-positive: $green-3;
$button-text-shadow-positive: $green-3;

$button-background-negative: $blue-3;
$button-border-negative: lighten($blue-3, 10%);
$button-hover-background-negative: darken($blue-3, 10%);
$button-text-shadow-negative: $blue-3;

$button-background-flag: $pink-2;
$button-border-flag: $pink-3;
$button-hover-background-flag: $pink-3;
$button-text-shadow-flag: $pink-3;

$button-background-skip: $maybe-color;
$button-border-skip: darken($maybe-color, 20%);
$button-hover-background-skip: darken($maybe-color, 10%);
$button-text-shadow-skip: darken($maybe-color, 20%);

$module-border: $dark-green;

$dropdown-anchor-color: $dark-green;

$proposal-sidebar-color: #EEE;

// For positive/negative styles for votes and proposals

$positive-background: $lightest-green;
$positive-color: $light-green;

$negative-color: $red;

$footer-color: $dark-green;
$footer-hover-color: lighten($dark-green, 10%);
$footer-background: $light-grey;
