$serif: Garamond, serif;
$sans-serif: "Avenir Next", sans-serif;


$black: #100B00;
$teal: #0B5351;
$grey: #293935;
$maroon: #510D0A;
$green: #25A877;

$light-grey: lighten($grey, 70%);

$header-color: #FFF;
$header-background: $teal;


@mixin transition($time: 0.5s, $type: all) {
  -webkit-transition: $type $time;
  transition: $type $time;
}
