<div class="addMeaning">
  {{#each errors.messages as |error|}}
    <div class="error">
      {{error}}
    </div>
  {{/each}}
  <label>
    Part of speech
    {{view "select" content=posList value=model.pos}}
  </label>

  {{meaning-edit model=model lang=model.lang}}
</div>
