<div class="addMeaning">
  {{#each error in errors.messages}}
    <div class="error">
      {{error}}
    </div>
  {{/each}}
  <label>
    Part of speech
    {{view "select" content=posList value=pos}}
  </label>

  {{meaning-edit model=model lang=model.lang}}
</div>
