<div class="word">
  {{#link-to "seq.wordset.index" model.lang.id model.wordName}}
    {{model.wordName}}
  {{/link-to}}
</div>
<div class="pos">
  {{model.original.pos}}
</div>

<div class="info">
  <div class="definition">
    <del class="def">
      {{model.original.def}}
    </del>
  </div>
  {{#if model.original.example}}
  <div class="quoteWrap">
    <del class="quote highlight">
      <span class="quotemark"> “ </span>
        {{model.original.example}}
      <span class="quotemark"> ” </span>
    </del>
  </div>
  {{/if}}
</div>
