<div class="comment-box">
  <h4>Comment</h4>

  {{multi-box value=comment action="submitComment" placeholder=""}}
  <button {{bind-attr disabled=isInvalid}} {{action "submitComment"}}>
    <span class="ion-chevron-right"></span>
  </button>
</div>
