<div class="word">
  {{model.wordName}}
</div>
<div class="pos">
  {{pos}}
</div>
<div class="info">
  <div class="definition">
    <div class="def">
      {{def}}
    </div>
  </div>
  <div class="quoteWrap">
    <div class="quote highlight">
      <span class="quotemark"> “ </span>
      {{example}}
      <span class="quotemark"> ” </span>
    </div>
  </div>
</div>
