{{#if isEditing}}
  {{partial "proposal/edit-new-word"}}
{{else}}
  <div class="word">
    {{model.wordName}}
  </div>
  {{#each meaning in model.meanings}}
    {{render "proposal/new-wordset-submeaning" meaning}}
  {{/each}}
{{/if}}
