<h4>Comment</h4>
<div class="comment-box">
  {{multi-box value=comment action="submitComment" placeholder=""}}
  <button disabled={{isInvalid}} {{action "submitComment"}}>
    <span class="ion-chevron-right"></span>
  </button>
</div>
