<div {{bind-attr class=":activity isYae:yae:nay"}}>
  <div class="name">
    {{activity.user.id}}
  </div>
  <div class="value">
    {{activity.voteValue}}
  </div>
  <div class="comment">
    {{activity.comment}}
  </div>
</div>
