<div class="wrapper words-index">
  <h1>Browse Words</h1>

  <div class="select-pos">
    <div class="title">Part of Speech</div>
    <label>
      {{input type="checkbox" checked=isChecked}}
      <span>Verb</span>
    </label>
    <label>
      {{input type="checkbox" checked=isChecked}}
      <span>Adjective</span>
    </label>
  </div>

  <div class="select-label">
    <div class="title">Label</div>
    <label>
      {{input type="checkbox" checked=isChecked}}
      <span>Verb</span>
    </label>
    <label>
      {{input type="checkbox" checked=isChecked}}
      <span>Adjective</span>
    </label>


  </div>

</div>
