<div class="wrapper">
  <h1>Add a new word</h1>
  <p>If you are unsure of how to format your new definition,
    please check out our
    {{#link-to "info.guidelines"}}guidelines{{/link-to}}.</p>
  <div class="newWord">
      {{edit-interface changes=model.changes reason=model.reason lang=model.lang}}
      <div class="edit-interface-buttons">
        <button class="submit positive" {{action "submitProposal"}}>Suggest</button>
      </div>
  </div>
</div>
