<div class="wrapper">
  <h1>Add a new word</h1>
  <p>If you are unsure of how to format your new definition,
    please check out our
    {{#link-to "info.guidelines"}}guidelines{{/link-to}}.</p>
  <div class="newWord">
      {{edit-interface changes=model.changes lang=model.lang}}
      <button class="negative" {{action "cancelEdit"}}>Cancel</button>
      <button class="submit positive" {{action "submitEdit"}}>Suggest</button>
  </div>
</div>
