<div class="tos">
  <label>
    {{input type="checkbox" checked=model.emailOptIn}}
    <span class="text">E-mail me with news and updates about Wordset.</span>
  </label>
</div>
<div class="tos">
  <label>
    {{input type="checkbox" checked=model.acceptTos}}
    <span class="text"><span class="required">*</span>I pledge to follow the {{#link-to "info.guidelines"}}community guidelines{{/link-to}} and I accept the {{#link-to "info.legal"}}terms and conditions{{/link-to}}.</span>
  </label>
</div>
