<div class="sign-module">
  <h3>Forgot Password</h3>
  <p>Well, that's awkward. But, it's no problem also! Just
    enter your email address below and we'll zip off an
    email to you.</p>
  <label>
    Email Address
    {{validated-input value=email errors=errors.email}}
  </label>
  <button {{action 'submit'}} {{bind-attr disabled=isInvalid}}>Submit</button>
</div>
