<div class="wrapper">
  <h2>Top Contributors</h2>

  <ol class="users">
  {{#each model as |user|}}
    <li>
      <img src="{{user.imageUrl}}" class="avatar" alt="" />
      <div class="info">
        {{#link-to "user" user.id}} {{user.id}} {{/link-to}}
        <div class="points">Points: {{user.points}}</div>
      </div>
    </li>
  {{/each}}
  </ol>
</div>
