<div class="sign-module">
  <h3>Reset Password</h3>
  <p>Almost there!</p>
  <div class="password">
    <label>
      New Password
      {{validated-input type="password" value=password errors=errors.password}}
    </label>
  </div>
  <div class="password">
    <label>
      Password Confirmation
      {{validated-input type="password" value=passwordConfirmation errors=errors.passwordConfirmation}}
    </label>
  </div>
  <button {{action 'submit'}} disabled={{isInvalid}}>Submit</button>
</div>
