<div class="wrapper">
  <h2>Reset Password</h2>
  <p>Almost there!</p>
  <label>Password</label>
  {{validated-input value=password errors=errors.password}}
  <label>Password Confirmation</label>
  {{validated-input value=passwordConfirmation errors=errors.passwordConfirmation}}
  <button {{action 'submit'}} {{bind-attr disabled=isInvalid}}>Submit</button>
</div>
