.new-badge-modal {
  background-image: url("/assets/images/badges/newbadge.png");
  background-size: $modal-width $modal-height;
  margin-top: -($modal-height/2);
  margin-left: -($modal-width/2);
  position: absolute;
    top: 50%;
    left: 50%;
  z-index: 100;
  height: $modal-height;
  width: $modal-width;

  badge {
    display: inline-block;
    margin: 228px auto;
    text-align: center;
    width: 606px;
    .badge {
      background: #FFF;
      border-left: 2px solid #0D3B47;
      border-right: 2px solid #0D3B47;
      border-bottom: 2px solid #0D3B47;
      border-radius: 0px 0px 5px 5px;
      padding: 20px;
    }
  }
  .ion-close {
    background: #0D3B47;
    border-radius: 50%;
    color: #FFF;
    font-size: 15px;
    line-height: 1em;
    padding: 2px 5px;
    position: absolute;
      top: 133px;
      right: 103px
  }
  .share {
    margin-top: 10px;
    a {
      margin-left: 10px;
    }
  }
}
