project-card {
  background: #FFF;
  border: 1px solid lighten($blue, 25%);
  border-radius: 2px;
  margin-bottom: 20px;
  display: inline-block;
  padding: 10px 0 20px;
  width: 100%;
  .title, .description, .progress-numbers {
    padding: 0 20px;
  }
  h2 a, .progress-numbers {
    color: $anchor-color;
  }
  .progress-numbers span.metric {
    color: darken($anchor-color, 20%);
    text-transform: uppercase;
  }
  .progress-numbers {
    display: inline-block;
    font-size: 14px;
    margin-top: 5px;
  }
  .title {
    border-bottom: 1px solid lighten($blue, 25%);
    display: block;
    margin-bottom: 10px;
    vertical-align: top;
  }
  h2 {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 5px;
    a:hover {
      color: $anchor-hover-color;
    }
  }

}
