project-card {
  background: #FFF;
  border: 1px solid lighten($blue, 25%);
  border-radius: 2px;
  margin-bottom: 20px;
  max-width: 420px;
  display: inline-block;
  padding: 20px;
  width: 100%;
  h2 {
    margin-bottom: 10px;
  }
  h2 a, .progress-numbers {
    color: $anchor-color;
  }
  .progress-numbers span.metric {
    color: darken($anchor-color, 20%);
    text-transform: uppercase;
  }
  .progress-numbers {
    display: inline-block;
    font-size: 14px;
    margin-top: 5px;
  }
  .title {
    display: block;
    margin-right: 30px;
    vertical-align: top;
  }
  h2 {
    font-size: 20px;
    margin-top: 0px;
    a:hover {
      color: $anchor-hover-color;
    }
  }

}
