<div class="activity">
  {{#link-to "proposal.index" model.proposalId}}
    <span class="ionicon ion-edit"></span>
    {{model.userId}} edited the proposal for
    <span class="activity-word">{{model.wordName}}</span>.
  {{/link-to}}
</div>
