<div class="activity">
  {{#link-to "proposal.index" activity.proposalId}}
    <span class="ionicon ion-edit"></span>
    {{activity.userId}} edited the proposal for
    <span class="activity-word">{{activity.wordId}}</span>.
  {{/link-to}}
</div>
