<div class="activity">
  {{#link-to "proposal" model.proposalId}}
    <span class="ionicon ion-plus-circled"></span>
    {{model.userId}} created a proposal for
    <span class="activity-word">{{model.wordName}}</span>.
  {{/link-to}}
</div>
