<div class="activity">
  {{#link-to "proposal.index" activity.proposalId}}
    <span class="ionicon ion-plus-circled"></span>
    {{activity.userId}} created a proposal for
    <span class="activity-word">{{activity.wordId}}</span>.
  {{/link-to}}
</div>
