<div class="activity">
  {{#link-to "proposal.index" activity.proposalId}}
    <span class="ionicon ion-chatbox"></span>
    {{activity.userId}} commented on the proposal for
    <span class="activity-word">{{activity.wordId}}</span>.
  {{/link-to}}
</div>
