<div {{bind-attr class=":activity model.finalState"}}>
  {{#link-to "proposal.index" activity.proposalId}}
    <span class="ionicon"></span>
    The proposal for
    <span class="activity-word">{{activity.wordName}}</span>
    was {{activity.finalState}}.
  {{/link-to}}
</div>
