<div {{bind-attr class=":activity model.finalState"}}>
  {{#link-to "proposal.index" model.proposalId}}
    <span class="ionicon"></span>
    The proposal for
    <span class="activity-word">{{model.wordName}}</span>
    was {{model.finalState}}.
  {{/link-to}}
</div>
