<div class="activity">
  {{#link-to "proposal.index" activity.proposalId}}
    The proposal for
    <span class="activity-word">{{activity.wordId}}</span>
    was {{activity.finalState}}.
  {{/link-to}}
</div>
