<div class="activity">
  {{#link-to "user.index" model.userId}}
    <span class="ionicon ion-chatbox"></span>
    {{model.userId}} was promoted to
    <span class="activity-word">{{model.newLevel}}</span>.
  {{/link-to}}
</div>
