<div class="activity">
  {{#link-to "user.index" model.userId}}
    <span class="ionicon ion-ribbon-b"></span>
    {{model.userId}} got the
    <span class="badge">"{{model.badge.display_name}}"</span>
    badge{{#if model.badge.level}} Level {{model.badge.level}}{{/if}}!
  {{/link-to}}
</div>
