<div class="activity">
  {{#link-to "user.index" activity.userId}}
    <span class="ionicon ion-ribbon-b"></span>
    {{activity.userId}} got the
    <span class="badge">"{{activity.badge.display_name}}"</span>
    badge{{#if activity.badge.level}} Level {{activity.badge.level}}{{/if}}!
  {{/link-to}}
</div>
