<div {{bind-attr class=":activity isYae:yae:nay"}}>
  {{#link-to "proposal.index" model.proposalId}}
    <span class="ionicon"></span>
    {{model.userId}}
    voted
    <span class="value">
      {{#if isYae}}
        yae
      {{else}}
        nay
      {{/if}}
    </span>
    on a proposal for
    <span class="activity-word">{{model.wordName}}</span>.
  {{/link-to}}
</div>
