<div class="activity">
  {{#link-to "proposal.index" model.proposalId}}
    <span class="ionicon ion-arrow-return-left"></span>
    {{model.userId}}
    withdrew their vote on
    <span class="activity-word">{{model.wordName}}</span>.
  {{/link-to}}
</div>
