<ul class="scoreboard">
  {{#each user in list}}
    <li>
      <img {{bind-attr src="user.imageUrl"}}/>
      <span class="username">{{user.id}}</span>
      <span class="points">{{liquid-bind user.points}}</span>
    </li>
  {{/each}}
</ul>
