.badges {
  margin-top: 30px;
}

badge {
  .badge {
    display: inline-block;
    height: 200px;
    position: relative;
    width: 200px;
  }
  img {
    border-radius: 10px;
  }
  .grayscale {
    overflow: hidden;
    position: absolute;
    -webkit-filter: contrast(40%);
    filter: contrast(40%);
    -webkit-filter: brightness(150%);
    filter: brightness(150%);
  }
  .badge-info {
    margin-top: 10px;
    text-align: center;
    .name {
      font-size: 24px;
      margin-bottom: 5px;
    }
  }
}
