.word {
  font-size: 30px;
  margin-bottom: 40px;
}

.meanings {
  font-size: 20px;
  li {
    border-top: 1px solid $light-grey;
    padding: 40px 0px;
  }
}

.index, .type, .definition {
  display: inline-block;
}

.index, .type {
  margin-right: 10px;
}

.type {
  color: #AAA;
  font-style: italic;
}
