.word {
  font-size: 30px;
  margin-bottom: 20px;
}

.meanings {
  font-size: 20px;
  li {
    border-top: 1px solid $light-grey;
    padding: 40px 0px;
  }
}

.index, .info {
  display: inline-block;
  line-height: 1.4em;
}

.index, .type {
  margin-right: 10px;
}

.index {
  vertical-align: top;
  width: 3%;
}

.info {
  width: 90%;
}

.word, .definition, .quote {
  display: inline-block;
  padding-right: 20px;
}

.word {
  width: 78%;
  @media screen and (max-width: $medium) {
    width: 65%;
  }
}

.definition, .quote {
  width: 82%;
}

.edit {
  display: inline-block;
  font-size: 14px;
  vertical-align: top;
  @media screen and (max-width: $medium) {
    float: right;
  }
}

.quoteWrap, .wordWrap {
  .edit {
    margin-top: 12px;
  }
}

.type, .def {
  display: inline;
}

.type {
  color: #AAA;
  font-style: italic;
}

.quote {
  font-style: italic;
  margin-top: 10px;
}
