.word {
  font-size: 30px;
  margin-bottom: 20px;
}

.meanings, .edit-meanings {
  font-size: 20px;
  list-style-position: inside;
  margin-bottom: 30px;
  li {
    padding: 20px 0px;
  }
  .info {
    display: inline-block;
    vertical-align: text-top;
  }
}


.meanings {
  .index {
    vertical-align: top;
    width: 3%;
  }
  .info {
    display: inline-block;
    left: 10px;
    line-height: 1.4em;
    position: relative;
    vertical-align: text-top;
  }

  .word, .definition, .quote {
    display: inline-block;
  }

  .def {
    display: inline;
  }
  .quote {
    font-style: italic;
    margin-top: 5px;
  }
}

.edit {
  display: inline-block;
  float: right;
  font-size: 14px;
  vertical-align: top;
}

.pos {
  border-bottom: 1px solid $lime;
  // color: #999;
  font-style: italic;
  margin-left: 5px;
}
