.editDefinition, .addMeaning, .newWord {
  margin-bottom: 20px;
  input, textarea, select {
    font-size: 16px;
    padding: 5px;
    width: 100%;
  }
  select {
    display: block;
    margin-bottom: 5px;
    max-width: 300px;
  }
  label {
    font-size: 14px;
    margin-top: 5px;
  }
  button {
    margin-top: 10px;
  }
  .submitProposal {
    float: right;
  }
  .error {
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 0px;
  }
}

.addMeaningLink {
  color: #666;
  float: right;
  padding-right: 20px;
  position: relative;
  span {
    position: absolute;
    right: 0px;
    top: -1px;
  }
}
