.word input {
  font-size: 26px;
  padding: 5px;
}

.definition, .quote {
  input {
    font-size: 20px;
    padding: 5px;
    width: 100%;
  }
}

.edit-meanings {
  .info {
    width: 90%;
  }
  .quote {
    margin-top: 10px;
    position: relative;
    input {
      padding: 5px 14px;
    }
    .quotemark {
      position: absolute;
      top: 10px;
      &:first-child {
        left: 5px;
      }
      &:last-child {
        right: 5px;
      }
    }
  }
}
