.error, .login-error {
  color: $error-color;
}

.login-error {
  margin-bottom: 10px;
  span {
    margin-right: 5px;
  }
}

.error {
  font-size: 16px;
  margin: 5px 0px;
}

.bottom-errors .error {
  background: #F6F6F6;
  border-radius: 2px;
  color: darken($blue, 15%);
  line-height: 1.5em;
  margin-top: 3px;
  margin-right: 5px;
  padding: 10px 15px;
  a {
    color: darken($blue, 15%);
  }
}

.textarea.error-input {
  margin-bottom: -10px;
}
.textarea.error-input textarea, input.error-input {
  border: 1px solid $red;
}
