.footer {
  background: $footer-background;
  color: $footer-color;
  font-size: 16px;
  padding: 80px 0px;
  text-align: center;
  width: 100%;
  a {
    color: $footer-color;
    &:hover {
      color: $footer-hover-color;
    }
  }
  .social {
    font-size: 18px;
    margin-bottom: 20px;
    a {
      margin-right: 20px;
    }
  }
}
