.footer {
  background: $footer-background;
  color: $footer-color;
  font-size: 16px;
  margin-top: 100px;
  padding: 40px 0px;
  text-align: center;
  width: 100%;
  a {
    color: $footer-color;
    &:hover {
      color: $footer-hover-color;
    }
  }
  .links, .social {
    margin-bottom: 20px;
    a:not(:last-of-type) {
      margin-right: 20px;
    }
  }
  .social {
    font-size: 18px;
    a {
      text-decoration: none;
    }
  }
}
