.header {
  background: $header-background;
  box-shadow: 0px 1px 1px #DDD;
  color: $header-color;
  height: 47px;
  padding: 30px;
  @media screen and (max-width: $header-medium) {
    height: 97px;
  }
  a, a:visited, a:active {
    color: $header-color;
  }
  .logo {
    float: left;
    @media screen and (min-width: 1000px) {
      background: url("/assets/images/full-logo.png");
      background-size: 195px 36px;
      height: 36px;
      margin-top: 4px;
      width: 195px;
    }
    @media screen and (max-width: 1000px) {
      background: url("/assets/images/logo-single.png");
      background-size: 52px 36px;
      height: 36px;
      margin-top: 4px;
      width: 52px;
    }
    @media screen and (max-width: $header-medium) {
      background: url("/assets/images/full-logo.png");
      background-size: 165px 30px;
      height: 30px;
      margin-top: 4px;
      margin-bottom: 10px;
      width: 165px;
    }
  }
  .search {
    position: relative;
    input {
      border: 0;
      font-size: 20px;
      margin-top: 0px;
      padding: 10px;
      width: 100%;
    }
    span {
      color: #DDD;
      cursor: pointer;
      font-size: 30px;
      position: absolute;
      right: 28px;
      top: 8px;
    }
    @media screen and (max-width: $medium) {
      padding: 0px;
      span {
        right: 5px;
      }
    }
    @media screen and (max-width: $header-medium) {
      span {
        top: -4px;
      }
    }
  }
  .search, .searchbar {
    @media screen and (max-width: $header-medium) {
      display: inline;
    }
  }
  .togglers {
    float: right;
    @media screen and (min-width: $med-small) {
      margin-top: -40px;
    }
    @media screen and (min-width: $medium) {
      margin-top: -47px;
    }
    @media screen and (max-width: $header-medium) {
      margin-top: -90px;
    }
  }
  .chat-toggler {
    color: $taupe;
    display: inline-block;
    font-size: 40px;
    margin-right: 40px;
    .has-chat-alert {
      &:after {
        background: $dark-green;
        border-radius: 50%;
        content: "";
        display: inline-block;
        height: 10px;
        position: absolute;
        vertical-align: top;
        width: 10px;
      }
    }
    .show-panel {
      color: $dark-green;
    }
    @media screen and (min-width: $medium) {
      font-size: 52px;
    }
    @media screen and (max-width: $header-medium) {
      margin-right: 30px;
    }
  }
  .nav-toggler  {
    color: $taupe;
    font-size: 40px;
    @media screen and (min-width: $medium) {
      font-size: 55px;
    }
    @media screen and (max-width: $header-medium) {
      margin-right: 10px;
    }
  }
  @media screen and (max-width: $med-small) {
    padding: 10px;
  }
}
