.header {
  background: $header-background;
  color: $header-color;
  padding: 30px;
  img {
    float: left;
    margin-top: 2px;
    width: 190px;
  }
  .search {
    position: relative;
    input {
      border: 0;
      box-sizing: border-box;
      font-size: 20px;
      padding: 10px;
      width: 100%;
    }
    span {
      color: #DDD;
      cursor: pointer;
      font-size: 30px;
      position: absolute;
      right: 25px;
      top: 6px;
    }
    @media screen and (max-width: $medium) {
      padding: 0px;
      input {
        margin-top: 20px;
      }
      span {
        right: 5px;
        top: 64px;
      }
    }
  }
  .signButtons {
    cursor: pointer;
    float: right;
    font-size: 18px;
    margin-right: 20px;
    margin-top: -30px;
    a {
      margin-left: 20px;
    }
    .signin {
      color: $green;
    }
    @media screen and (max-width: $medium) {
      margin-top: -87px;
    }
  }
  @media screen and (max-width: $small) {
    padding: 10px;
  }
}
