.header {
  background: $header-background;
  color: $header-color;
  padding: 30px;
  img {
    float: left;
    margin-top: 2px;
    width: 190px;
  }
  .search {
    position: relative;
    input {
      border: 0;
      box-sizing: border-box;
      font-size: 20px;
      padding: 10px;
      width: 100%;
    }
    span {
      color: #DDD;
      cursor: pointer;
      font-size: 30px;
      position: absolute;
      right: 7px;
      top: 6px;
    }
  }
  .sign-buttons {
    cursor: pointer;
    float: right;
    margin-top: -30px;
    a {
      margin-left: 20px;
    }
    .signin {
      color: $green;
    }
  }
}
