.label-selection {
  margin-top: 5px;
  .title {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .dialects, .non-dialects {
    display: inline-block;
    vertical-align: top;
    width: 47%;
    label {
      border: 1px solid #EEE;
      color: #666;
      border-radius: 2px;
      display: inline-block;
      font-size: 18px;
      line-height: 1em;
      margin: 0px 0px 5px;
      padding: 5px 10px 5px 5px;
      &.child {
        margin-left: 40px;
      }
    }
    input {
      padding: 0px;
      margin-bottom: 0px;
      width: inherit;
    }
  }
  .look-disabled {
    color: grey;
    input {
      color: grey;
    }
  }
  .dialects label.checked {
    background: lighten(#336699, 57%);
    border: 1px solid #336699;
    color: #336699;
  }
  .non-dialects label.checked {
    background: lighten(#7B6D8D, 48%);
    border: 1px solid #7B6D8D;
    color: #7B6D8D;
  }
}
