.main-content {
}
.mask {
  cursor: default;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Menus
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
/* general style for all menus */
nav.menu {
  position: fixed;
  z-index: 20;
  background-color: $menu-background;
  overflow: hidden;
  transition: all 0.3s;
  top: 0;
  width: 300px;
  height: 100%;
  li {
    display: block;
    text-align: center;
    border-bottom: solid 1px darken($menu-background, 10%);
    &:first-child {
      border-top: none;
    }
    &:last-child {
      border-bottom: none;
    }
  }
  a {
    color: $menu-color;
    text-decoration: none;
    display: block;
    font-size: 18px;
    padding: 15px 30px 10px;
  }

  .ionicon {
    font-size: 30px;
    margin-bottom: 5px;
  }
  right: -300px
}

nav.menu.open {
  right: 0
}
