.messages {
  border: 2px solid $header-background;
  vertical-align: top;
  .messagesContent {
    padding: 10px;
  }
  h3 {
    margin-bottom: 20px;
  }
  img.icon {
    height: 30px;
    margin-right: 5px;
    vertical-align: top;
    width: 30px;
  }
  .info {
    display: inline-block;
    max-width: 78%;
  }
  .username {
    color: $taupe;
    font-size: 16px;
  }
  input {
    font-size: 18px;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
  }
  button {
    float: right;
    margin-bottom: 30px;
    width: 100px;
  }
}

// Content and messages
@media screen and (min-width: $medium) {
  .content:nth-child(1):nth-last-child(1) {
  	width: 100%;
  }

  .content:nth-child(2):nth-last-child(1) {
    display: inline-block;
  	width: 74%;
  }

  .messages {
    display: inline-block;
    float: right;
    width: 25%;
  }
}
