.messages {
  @include transition();
  border: 2px solid $header-background;
  vertical-align: top;
  .messages-content {
    padding: 10px;
  }
  .new-message-area {

    position: relative;
    textarea {
      font-size: 18px;
      padding: 5px 30px 5px 5px;
      width: 100%;
    }
    button {
      border-radius: 0px;
      box-shadow: none;
      font-size: 12px;
      height: 60px;
      padding: 0px;
      position: absolute;
      right: 1px;
      top: 1px;
      width: 25px;
    }
    .notice {
      text-align: center;
      color: $taupe;
    }
  }

  img.icon {
    height: 30px;
    margin-right: 5px;
    vertical-align: top;
    width: 30px;
  }
  .info {
    display: inline-block;
    max-width: 78%;
  }
  .username {
    color: $taupe;
    font-size: 16px;
  }

}

// Content and messages
@media screen and (min-width: $small) {
  .content.showChat {
    display: inline-block;
  }

  .messages {
    display: inline-block;
    float: right;
    width: 300px;
    &.closed {
      margin-right: -300px;
    }
  }
}

@media screen and (max-width: $small) {
  .messages.closed {
    display: none;
  }
}
