.messages {
  border: 2px solid $header-background;
  vertical-align: top;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  .closed {
    width: 0px;
  }
  .messages-content {
    padding: 10px;
  }
  .new-message-area {
    height: 60px;
    margin-bottom: 10px;
    margin-top: 10px;
    input {
      font-size: 18px;
      padding: 0px 5px 5px 5px;
      width: 80%;
    }
    button {
      float: right;
      width: 18%;
    }
    .notice {
      text-align: center;
      color: $taupe;
    }
  }

  img.icon {
    height: 30px;
    margin-right: 5px;
    vertical-align: top;
    width: 30px;
  }
  .info {
    display: inline-block;
    max-width: 78%;
  }
  .username {
    color: $taupe;
    font-size: 16px;
  }

}

// Content and messages
@media screen and (min-width: $small) {
  .content.showChat {
    display: inline-block;
  }

  .messages {
    display: inline-block;
    float: right;
    width: 300px;
    &.closed {
      margin-right: -300px;
    }
  }
}
