// The new word page (see also the
// _edit-definition page for most styles)

.newWord {
  input {
    font-size: 20px;
    margin-bottom: 20px;
  }
  textarea, select {
    margin-bottom: 10px;
  }
}
