// The new word page (see also the
// _edit-definition page for most styles)

.newWord {
  input, textarea, select {
    margin-top: 5px;
  }
  input {
    font-size: 20px;
    margin-bottom: 20px;
  }
  textarea, select {
    margin-bottom: 10px;
  }
  .submeaning {
    margin-bottom: 30px;
  }
  
  .submitProposal {
    margin-left: 20px;
  }
}
