.panel {
  transition: all .4s .1s cubic-bezier(0.42, 0, 0.51, 1.21);
  position: relative;
  vertical-align: top;
  overflow: hidden;
  background: white;
  box-shadow: -1px 0px 8px #EEE;

  @media (min-width: $small) {
    position: fixed;
    top: 82px;
    right: 0;
    bottom: 0;
  }
  .tabs {
    background: #EEE;
    padding: 4px 10px 0;
    .chat, .alert {
      background: #F9F9F9;
      cursor: pointer;
      display: inline-block;
      font-size: 14px;
      padding: 2px 30px;
      margin-right: 5px;
    }
    &.display-chat .chat,
    &.display-alert .alert  {
      background: #FFF;
      border-bottom: 2px solid $blue-2;
    }
  }
  .subpanels {
    .subpanel {
      margin-left: 400px;
      margin-bottom: 0px;
      @media (max-width: $small) {
        display: none;
        height: 100%;
        width: 100%;
        position: fixed;
        overflow-y: scroll;
        overflow-x: hidden;
      }
    }
    &.display-chat .subpanel.chat {
      margin-left: 0px;
      @media (max-width: $small) {
        display: block;
        .message-list {
          padding-bottom: 215px;
        }
      }
    }
    &.display-alert .subpanel.alert {
      margin-left: 0px;
      @media (max-width: $small) {
        display: block;
        .alert-list {
          padding-bottom: 155px;
        }
      }
    }
  }
}
.content {
  transition: padding-right .4s ease-in-out;
}

.online-users, .message-settings {
  position: absolute;
  background: #FFF;
  z-index: 2;
  ul {
    display: none;
    position: relative;
    &.show-users, &.show-settings {
      display: block;
    }
    > li {
      background: #FFF;
      box-shadow: 0px 1px 2px #EEE;
      padding: 10px;
      position: absolute;
      top: 24px;
      right: 0px;
      a {
        display: block;
      }
    }
    li:not(:last-of-type) {
      margin-bottom: 10px
    }
  }
}

.online-users {
  right: 0;
  top: 8px;
  .toggle-users {
    float: right;
    padding: 0px 5px;
  }
}

.message-settings {
  right: 50px;
  top: 8px;
  .toggle-settings {
    float: left;
    clear: left;
    padding: 0px 5px;
  }
}

.content.show-panel {
  display: none;
}

.alert-list {
  @media (min-width: $small) {
    position: fixed;
    top: $tab-height + 2px; // The 2px accounts for the border
    bottom: 6px;
    width: 100%;
  }
}


// Content and messages
@media (min-width: $small) {
  .content.show-panel {
    display: block;
    padding-right: $chat-width + 20px;
  }
  .panel {
    width: $chat-width;
    transform: translateX(0);

    &.closed {
      transform: translateX(100%);
    }
  }
}
