.panel {
  @include transition();
  border: 2px solid $header-background;
  position: relative;
  vertical-align: top;
  .scoreboard {
    border-bottom: 2px solid $taupe;
    height: 90px;
    li {
      padding: 5px 10px;
      &:nth-child(odd) {
        background: #F9F9F9;
      }
    }
    img {
      border-radius: 50%;
      height: 20px;
      margin-right: 2px;
      vertical-align: middle;
      width: 20px;
    }
    .username {
      display: inline-block;
      width: 50%;
    }
    .points {
      font-size: 16px;
    }
  }
  .messages-content {
    padding: 10px;
  }
  .new-message-area {
    position: relative;
    textarea {
      font-size: 18px;
      padding: 5px 30px 5px 5px;
      width: 100%;
    }
    button {
      background: #FFF;
      border-radius: 0px;
      box-shadow: none;
      color: $lime;
      cursor: pointer;
      font-size: 12px;
      height: 58px;
      padding: 0px;
      position: absolute;
      right: 1px;
      top: 2px;
      width: 25px;
    }
    .notice {
      text-align: center;
      color: $taupe;
    }
  }

  img.icon {
    height: 30px;
    margin-right: 5px;
    vertical-align: top;
    width: 30px;
  }
  .info {
    display: inline-block;
    width: 78%;
  }
  .username {
    color: $taupe;
    font-size: 16px;
  }
  p {
    margin-bottom: 0px;
  }
  .message {
    margin-bottom: 15px;
    .info {
      word-wrap: break-word;
    }
    &.is-self {
      img {
        vertical-align: middle;
      }
      .text {
        font-size: 14px;
        font-style: italic;
      }
    }
    .time {
      color: $taupe;
      // float: right;
      font-size: 12px;
      font-style: italic;
    }
    // Link Styles
    .link-image {
      display: inline-block;
      position: relative;
      vertical-align: top;
      span {
        color: #FFF;
        font-size: 30px;
        left: 5px;
        position: absolute;
        top: 0px;
      }
    }
    &.link {
      font-size: 14px;
      font-style: italic;
      &:hover {
        background: #EEE;
      }
    }
  }
}

.online-users, .message-settings {
  position: absolute;
  background: #FFF;
  box-shadow: 0px 1px 2px #CCC;
  z-index: 2;
  ul {
    background: #FFF;
    display: none;
    padding: 10px;

    &.show-users, &.show-settings {
      display: block;
    }
    li:not(:last-of-type) {
      margin-bottom: 10px
    }
  }
}

.online-users {
  right: 0px;
  .toggle-users {
    float: right;
    padding: 5px;
  }
}

.message-settings {
  left: 0px;
  .toggle-settings {
    float: left;
    clear: left;
    padding: 5px;
  }
}

// Content and messages
@media screen and (min-width: $small) {
  .content.showPanel {
    display: inline-block;
  }

  .panel {
    display: inline-block;
    float: right;
    width: $chat-width;
    &.closed {
      margin-right: -$chat-width;
    }
  }
}

@media screen and (max-width: $small) {
  .panel.closed {
    display: none;
  }
}
