.proposal-sidebar {
  background: $header-background;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  @media screen and (min-width: $medium) {
    float: right;
    width: 30%;
  }
  @media screen and (min-width: $large) {
    width: 40%;
  }
  // Replacing Padding
  h4, .reason, .progress-bar, .action-bar, .comment-box, .activity, p {
    margin-left: 35px;
    margin-right: 35px;
  }
  h4 {
    color: darken($header-background, 30%);
    margin-bottom: 10px;
    &:first-child {
      margin-top: 20px;
    }
  }
  .reason {
    margin-bottom: 20px;
  }
  // The voting buttons
  .action-bar {
    button {
      display: inline-block;
      margin-bottom: 20px;
      min-width: 80px;
      width: 49%;
      @include media-max-width($large) {
        width: 100%;
      }
      span {
        margin-right: 10px;
      }
      &.next.skip {
        width: 100%;
      }

    }
  }
  .withdraw-vote {
    @extend a;
  }
  .comment-box {
    margin-bottom: 20px;
    position: relative;
    div {
      color: #666;
      font-size: 14px;
      margin-bottom: 5px;
    }
    textarea {
      padding: 5px;
      padding-right: 27px;
      vertical-align: top;
      width: 100%;
    }
    button {
      background: #FFF;
      border-radius: 0px;
      border: none;
      box-shadow: none;
      color: #DDD;
      height: 48px;
      padding: 0px 0px 5px 0px;
      position: absolute;
      right: 1px;
      text-shadow: none;
      top: 6px;
      width: 25px;
      &:not([disabled]) {
        color: $enter-button;
      }
    }
  }
  .next-proposal {
    @extend button;
    display: inline-block;
    margin-bottom: 30px;
    span {
      font-size: 16px;
      margin-left: 11px;
    }
  }
  .title {
    color: #666;
    font-size: 14px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  .activity {
    margin-bottom: 2px;
    padding: 8px 4px;
    &:last-child {
      margin-bottom: 20px;
    }
    &:nth-child(odd) {
      background: #FDFDFD;
    }
    &:nth-child(even) {
      background: #F3F3F3;
    }
    &.edit {
      border-bottom: 2px solid $dark-green;
      border-top: 2px solid $dark-green;
    }
    &.comment {
      line-height: 1.4em;
    }
  }
  .activity.yae {
    .value {
      color: $positive-color;
    }
  }
  .name, .value, .type {
    display: inline-block;
  }
}
