.progress-bar {
  margin-bottom: 30px;
  .progress, .progress-positive, .progress-negative {
    background: #DDD;
    position: relative;
    .bar {
      position: absolute;
    }
  }

  .progress-positive .bar, .positive.bar {
    background: $lime;
    left: 0px;
  }

  .progress-negative .bar, .negative.bar {
    background: $red;
  }
  // For the single-way progress bar

  .progress, .bar {
    height: 4px;
  }

  // For the double-way progress bar
  .progress-positive, .progress-negative {
    display: inline-block;
    height: 20px;
    width: 48%;
    .bar {
      height: 20px;
    }
  }
  .progress-negative {
    .bar {
      right: 0px;
    }
  }

  .numbers {
    color: #666;
    font-size: 14px;
    position: relative;
    .min, .mid, .max, .current {
      position: absolute;
    }
    .min {
      left: -10px;
    }
    .mid {
      left: 48%;
    }
    .max {
      left: 94%;
    }
    .current {
      left: 97%;
      top: 6px;
    }
  }
}
