
project-info {
  background: $blue;
  color: #FFF;
  display: inline-block;
  width: 100%;

  h2 {
    color: #FFF;
    display: inline-block;
    font-size: 30px;
    margin-bottom: 0px;
  }
  .title {
    display: inline-block;
    margin-right: 30px;
    padding: 20px 0px 0px 20px;
    vertical-align: top;
    span {
      font-size: 14px;
      margin-left: 10px;
    }
    a {
      color: #FFF;
      &:hover {
        color: #DDD;
      }
    }
  }
  .progress-numbers {
    display: inline-block;
    font-size: 14px;
    margin-top: 5px;
    padding:20px;
    span.metric {
      color: lighten($blue, 25%);
      text-transform: uppercase;
    }
  }
  .progress-bar {
    display: inline-block;
    margin-top: 5px;
    width: 100%;

    .numbers {
      color: #EEE;
    }
  }
}
