.submit-proposal {
  border: 2px solid $module-border;
  box-shadow: 0px 1px 4px #DDD;
  padding: 30px;
  .word {
    font-size: 20px;
  }
  .word, .reason {
    .label {
      display: inline-block;
      font-style: italic;
      margin-right: 10px;
      width: 70px;
    }
  }
  .old, .new {
    color: $text-color;
    display: inline-block;
    margin: 20px 0px;
    padding: 20px 0px;
    text-decoration: none;
    width: 48%;
    @media screen and (max-width: $small) {
      width: 100%;
    }
    p {

    }

  }
  .old {
    @media screen and (min-width: $small) {
      border-right: 1px solid #EEE;
    }
  }
  button {
    margin: auto;
  }
  .dont-care {
    @extend a;
    text-align: center;
  }
  input {
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 5px;
    padding: 5px 10px;
    width: 100%;
  }
}

.details {
  color: #FFF;
  padding: 20px 35px 10px;
  &.open {
    background: $dark-green;
    span {
      color: $lime;
    }
  }
  &.accepted {
    background: $taupe;
    span {
      color: $light-grey;
    }
  }
  .title {
    font-weight: 700;
    margin-bottom: 10px;
    span {
      font-weight: 400;
    }
  }
  .action-change {
    margin-bottom: 10px;
    &:not(:last-of-type) {
      margin-right: 40px;
    }
    span {
      display: inline-block;
      width: 70px;
    }
    @media screen and (min-width: $medium) {
      display: inline-block;
    }
  }
}

.proposal {
  display: inline-block;
  list-style-position: inside;
  margin-bottom: 30px;
  padding: 20px 35px;
  position: relative;
  width: 80%;
  @media screen and (min-width: $medium) {
    width: 42%;
  }
  &.original .highlight {
    color: #999;
  }
  &.change .highlight {
    color: $lime;
  }
  h2 {
    text-transform: uppercase;
  }
  li {
    padding: 20px 0px;
  }
  .info {
    display: inline-block;
    left: 10px;
    line-height: 1.4em;
    position: relative;
    vertical-align: text-top;
    width: 93%;
  }
  .by {
    position: absolute;
    right: 35px;
    text-align: center;
    top: 75px;
    a {
      display: block;
      margin-bottom: 5px;
    }
  }
}
