.proposals, .proposals-user, .proposals-word {
  a {
    text-decoration: none;
  }
  .item {
    margin-bottom: 2px;
    padding: 18px 15px;
    &.open {
      background: lighten($blue, 38%);
      color: darken($blue, 30%);
    }
    &.accepted {
      background: $positive-background;
      color: $positive-color;
    }
    &.rejected {
      background: #E9E9E9;
      color: #BBB;
    }
    &.withdrawn {
      background: #EEE;
      color: #CCC;
    }
    &.accepted, &.rejected, &.withdrawn {
      .progress-bar {
        opacity: 0.3;
      }
    }
    .word {
      font-weight: 500;
      font-size: 18px;
    }
    .action {
      text-transform: lowercase;
    }
  }
}

.proposals-user, .proposals-word {
  .sentence {
    line-height: 1.4em;
    margin-bottom: 10px;
  }
  .progress, .bar {
    height: 2px;
  }
}

.proposals-user {
  .word {
    margin-left: 10px;
  }
  .state {
    text-transform: capitalize;
  }
}
