// From : http://codepen.io/iharosi/pen/kbzso

input[type="radio"] {
  display: none;
  & + span {
    position: relative;
    display: block;
    padding: 1em 0.5em 1em 2.5em;

    cursor: pointer;
    line-height: 1.4em;
    transition: all .3s ease-in-out;
    &:before, &:after {
      border: 1px solid #BBB;
      content: '';
      position: absolute;
      top: 24px;
      left: 20px;
      width: 0.8em;
      height: 0.8em;
      text-align: center;
      color: white;
      font-family: Times;
      border-radius: 50%;
      transition: all .3s ease;
    }
  }
}
input[type="radio"] + span {
  &:before {
    transition: all .3s ease;
    box-shadow:
      inset 0 0 0 0.2em white,
      inset 0 0 0 1em white;
  }
  &:hover {
    background: #F9F9F9;
  }
  &:hover:before {
    transition: all .3s ease;
    box-shadow:
      inset 0 0 0 0.3em white,
      inset 0 0 0 1em #696D6E;
  }
}
input[type="radio"]:checked + span {
  background: #EEE;
  &:before {
    transition: all .3s ease;
    box-shadow:
      inset 0 0 0 0.2em white,
      inset 0 0 0 1em $lime;
  }
}
