.panel .scoreboard {
  border-bottom: 2px solid $taupe;
  height: 105px;
  li {
    padding: 5px 10px;
    &:nth-child(odd) {
      background: #F9F9F9;
    }
    .points {
      font-size: 16px;
      float: right;
      margin-right: 10px;
    }
  }
  img {
    border-radius: 50%;
    height: 20px;
    margin-right: 2px;
    vertical-align: middle;
    width: 20px;
  }
  .username {
    display: inline-block;
    width: 50%;
  }
}
