.sign-module {
  border: 2px solid $module-border;
  box-shadow: 0px 1px 4px #DDD;
  margin: auto;
  max-width: 500px;
  padding: 30px 40px;
  @media screen and (max-width: $small) {
    padding: 30px 20px;
  }
  h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  input {
    display: block;
    font-size: 18px;
    margin-top: 5px;
    padding: 5px;
    width: 100%;
  }
  .email, .password {
    margin-bottom: 10px;
  }
  button {
    margin: 20px auto 40px;
  }
  .aside {
    font-size: 14px;
  }
}
