.suggestion, .submit-suggestion {
  border: 2px solid $module-border;
  box-shadow: 0px 1px 4px #DDD;
  padding: 20px;
  .word, .reason {
    span {
      font-style: italic;
      margin-right: 10px;
    }
  }
  .old, .new {
    color: $text-color;
    display: inline-block;
    margin: 20px 0px;
    padding: 20px 0px;
    text-align: center;
    text-decoration: none;
    width: 48%;
    @media screen and (max-width: $small) {
      width: 100%;
    }

  }
  .old {
    @media screen and (min-width: $small) {
      border-right: 1px solid #EEE;
    }
  }
  button {
    margin: auto;
  }
  .dont-care {
    @extend a;
    text-align: center;
  }
  input {
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 5px;
    padding: 5px 10px;
    width: 100%;
  }
}

.suggestion {
  .old, .new {
    &:hover {
      background: #F6F6F6;
    }
  }
}
