.synonym-display {
  .synonym-title {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .synonym {
    color: #666;
    display: inline-block;
    font-style: italic;
    margin-right: 5px;
    text-decoration: none;
    &:not(:last-of-type) {
      &:after {
        content: ",";
      }
    }
  }
  a.synonym:after {
    margin-left: -5px;
  }
}

.edit-meaning {
  .synonym-display {
    padding-left: 20px;
    padding-bottom: 10px;
  }
}
