.tabs {
  a {
    @include transition(0s);
    color: $black;
    padding: 5px 10px 0px;
    margin-right: 20px;
    text-decoration: none;
    &.active {
      border-bottom: 2px solid $blue-2;
      background: #FFF;
      box-shadow: none;
    }
  }
}
