.word {
  font-size: 30px;
  margin-bottom: 10px;
}

.wordWrap {
  border-bottom: 2px solid $taupe;
  box-shadow: inset 0px -3px 4px -5px #DDD;
  margin-bottom: 20px;
  position: relative;
  .word, .tabs {
    display: inline-block;
  }
  .tabs {
    position: absolute;
    right: 0px;
    top: 19px;
    a {
      // background: #F9F9F9;
      border: 2px solid $taupe;
      // border-top: none;
      border-radius: 2px 2px 0px 0px;
      color: $dark-green;
      padding: 5px 10px 0px;
      margin-right: 20px;
      text-decoration: none;
      &.active {
        border-bottom: 2px solid #FFF;
        background: #FFF;
        box-shadow: none;
      }
    }
  }
}

.pos {
  border-bottom: 2px solid $lime;
  display: inline-block;
  font-style: italic;
  margin-left: 0px;

}

.meanings {
  font-size: 20px;
  list-style-position: inside;
  margin-bottom: 30px;
  li {
    padding: 20px 0px;
  }
  .info {
    display: inline-block;
    left: 10px;
    line-height: 1.4em;
    position: relative;
    vertical-align: text-top;
    width: 93%;
  }

  .edit-link, .locked {
    @include transition(0.2s);
    display: inline-block;
    margin-left: 10px;
    margin-top: 1px;
    opacity: 0;
    text-decoration: none;
    vertical-align: top;
  }
  .locked {
    color: #BBB;
  }
  .defWrap, .quoteWrap {
    div {
      display: inline-block;
    }
  }
  // The edit link should appear when you hover
  // over the whole meaning (info class)
  .info:hover, .info:focus {
    .edit-link, .locked {
      opacity: 1;
    }
  }
  .edit-link:focus, .locked:focus {
    opacity: 1;
  }

  .def {
    display: inline-block;
  }
  .quote {
    font-style: italic;
    margin-top: 5px;
  }
}

.openProposal {
  color: #666;
  font-size: 14px;
}
