.word {
  font-size: 30px;
  margin-bottom: 10px;
}

.wordWrap {
  margin-bottom: 20px;
  position: relative;
  .word, .tabs {
    display: inline-block;
    @media screen and (max-width: $med-small) {
      display: block;
    }
  }
  .word {
    margin-bottom: 25px;
    @media screen and (min-width: $med-small) {
      margin-right: 60px;
    }
  }
  .tabs {
    a {
      @include transition(0s);
      color: $dark-green;
      padding: 5px 10px 0px;
      margin-right: 20px;
      text-decoration: none;
      &.active {
        border-bottom: 2px solid $lime;
        background: #FFF;
        box-shadow: none;
      }
    }
  }
}

.pos {
  border-bottom: 2px solid $taupe;
  display: inline-block;
  font-style: italic;
  margin-left: 0px;

}

.meanings {
  font-size: 20px;
  list-style-position: inside;
  margin-bottom: 30px;
  li {
    padding: 20px 0px;
  }
  .info {
    display: inline-block;
    left: 10px;
    line-height: 1.4em;
    position: relative;
    vertical-align: text-top;
    width: 93%;
  }
  .meaning {
    background: $body-background;
    z-index: 10;
  }
  .edit-link, .locked {
    @include transition(0.2s);
    display: inline-block;
    margin-left: 10px;
    margin-top: 1px;
    opacity: 0;
    text-decoration: none;
    vertical-align: top;
  }
  .locked {
    color: #BBB;
  }
  .defWrap, .quoteWrap {
    div {
      display: inline-block;
    }
  }
  // The edit link should appear when you hover
  // over the whole meaning (info class)
  .info:hover, .info:focus {
    .edit-link, .locked {
      opacity: 1;
    }
  }
  .edit-link:focus, .locked:focus {
    opacity: 1;
  }

  .def {
    display: inline-block;
  }
  .quote {
    font-style: italic;
    margin-top: 5px;
  }
}

.openProposal {
  color: #666;
  font-size: 14px;
}

// Styles for the word proposal tab
.word-proposals {
  @extend .proposals;
  .action {
    width: 32%;
  }
  .user {
    width: 30%;
  }
  .state {
    width: 22%;
  }
}
