.home {
  ul {
    list-style-type: circle;
    padding: 0px 20px;
  }
  .news {
    @include quiz-box(#F9F9F9, #666, #DDD);
    padding: 0px;
    a {
      color: $anchor-color;
    }
    p {
      padding: 10px;
      margin-bottom: 0px;
    }
  }
  ol {
    @include media-max-width($medium) {
      padding: 0px 20px;
    }
  }
  .randomWord {
    display: block;
    margin: 0px auto 40px;
    width: 320px;
  }
}

a[name=more-posts] {
  margin-top: 20px;
}

.blog-posts {
  li {
    margin-bottom: 15px;
  }
  a {
    line-height: 1.5em;
    margin-bottom: 5px;
  }
}

.links {
  margin-bottom: 40px;
  a {
    border: 1px solid #DDD;
    border-radius: 2px;
    color: $anchor-hover-color;
    display: inline-block;
    min-width: 100px;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    &:hover {
      background: #FAFAFA;
    }
    &:not:first-child {
      margin-left: 20px;
    }
  }
  .ionicon {
    font-size: 35px;
    margin-bottom: 5px;
  }
  @include media-max-width($small) {
    a {
      width: 39%;
    }
    a:first-child {
      margin-bottom: 10px;
      width: 90%;
    }
  }
}

.contact {
  li {
    margin-bottom: 10px;
  }
  a {
    display: block;
    span {
      margin-right: 10px;
    }
  }
}
