.home p {
  margin-bottom: 40px;
}

.recent-activity {
  margin-bottom: 40px;
  .activity {
    @include transition();
    margin-bottom: 2px;
    &:nth-child(odd) {
      background: #FDFDFD;
    }
    &:nth-child(even) {
      background: #F3F3F3;
    }
    &:hover {
      background: #EEE;
    }
    &.accepted {
      background: $positive-background;
    }
    .activity-word, .value {
      font-weight: 500;
    }
    &.yae .value {
      color: $positive-color;
    }
    &.nay .value {
      color: $negative-color;
    }
  }
  a {
    color: $text-color;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    width: 100%;
  }
}

.links {
  margin-bottom: 40px;
  a {
    border: 1px solid #DDD;
    border-radius: 2px;
    color: lighten($dark-green, 20%);
    display: inline-block;
    margin: 10px;
    min-width: 100px;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    &:hover {
      background: #FAFAFA;
    }
  }
  .ionicon {
    font-size: 35px;
    margin-bottom: 5px;
  }
}

.contact {
  li {
    margin-bottom: 10px;
  }
  a {
    display: block;
    span {
      margin-right: 10px;
    }
  }
}
