.home {
  h2 {
    margin-top: 40px;
  }
  p {
    margin-bottom: 20px;
  }

  .news {
    border: 1px solid $dark-green;
    border-radius: 2px;
    margin-bottom: 20px;
    padding: 0px;
    .header {
      background: lighten($dark-green, 40%);
      box-shadow: none;
      height: inherit;
      padding: 10px 0px;
      h2 {
        color: #FFF;
        margin: 0px 0px 0px 10px;
      }
      width: 100%;

    }
    a {
      color: $dark-green;
    }
    p {
      padding: 10px;
      margin-bottom: 0px;
    }

  }

  project-info {
    background: #FFF;
    border: 1px solid lighten($blue, 25%);
    border-radius: 2px;
    margin-bottom: 20px;
    max-width: 420px;
    h2 a, .progress-numbers {
      color: $dark-green;
    }
    .progress-numbers span.metric {
      color: lighten($dark-green, 20%);
    }
    .title {
      display: block;
    }
    h2 {
      font-size: 20px;
      margin-top: 0px;
      a:hover {
        color: lighten($dark-green, 20%);
      }
    }

  }
}

.recent-activity {
  margin-bottom: 40px;
  .activity {
    @include transition();
    margin-bottom: 2px;
    &:nth-child(odd) {
      background: #FDFDFD;
    }
    &:nth-child(even) {
      background: #F3F3F3;
    }
    &:hover {
      background: #EEE;
    }
    &.accepted {
      background: darken($positive-background, 5%);
      .ionicon {
        @extend .ion-checkmark-circled;
      }
    }
    &.rejected {
      background: lighten($negative-color, 50%);
      .ionicon {
        @extend .ion-close-circled;
      }
    }
    &.withdrawn {
      .ionicon {
        @extend .ion-arrow-return-left;
      }
    }
    .ionicon {
      color: #666;
      margin-right: 10px;
    }
    .activity-word, .value {
      font-weight: 500;
    }
    &.yae {
      .ionicon {
        @extend .ion-thumbsup;
      }
      .value {
        color: $positive-color;
      }
    }
    &.nay {
      .ionicon {
        @extend .ion-thumbsdown;
      }
    }
  }
  a {
    color: $text-color;
    display: inline-block;
    line-height: 1.4em;
    padding: 10px;
    text-decoration: none;
    width: 90%;
  }
}

.links {
  margin-bottom: 40px;
  a {
    border: 1px solid #DDD;
    border-radius: 2px;
    color: lighten($dark-green, 20%);
    display: inline-block;
    margin: 10px;
    min-width: 100px;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    &:hover {
      background: #FAFAFA;
    }
  }
  .ionicon {
    font-size: 35px;
    margin-bottom: 5px;
  }
}

.contact {
  li {
    margin-bottom: 10px;
  }
  a {
    display: block;
    span {
      margin-right: 10px;
    }
  }
}
