// Taken from http://stackoverflow.com/questions/13014808/is-there-anyway-to-animate-an-ellipsis-with-css-animations

.loading-page {
  color: #999;
  font-size: 30px;
  text-align: center;
}

.ellipsis-one {
  opacity: 0;
  animation: dot 1.3s infinite;
  animation-delay: 0.0s;
}

.ellipsis-two {
  opacity: 0;
  animation: dot 1.3s infinite;
  animation-delay: 0.2s;
}

.ellipsis-three {
  opacity: 0;
  animation: dot 1.3s infinite;
  animation-delay: 0.3s;
}

@keyframes dot {
      0% { opacity: 0; }
     50% { opacity: 0; }
    100% { opacity: 1; }
}
