
article.post {
  h1 {
    margin-bottom: 25px;
    span {
      margin-right: 10px;
    }
  }
  ul {
    line-height: 1.4em;
    list-style: circle;
    margin-bottom: 20px;
    padding: 5px 20px;
    ul {
      margin-bottom: 0px;
    }
  }
  li {
    margin-bottom: 10px;
  }
  dl {
    line-height: 1.4em;
    margin-bottom: 20px;
    padding: 20px;
  }
  dt {
    font-weight: 600;
  }
  dd {
    margin-bottom: 10px;
  }
  .article-head {
    .post-footer {
      margin-bottom: 5px;
    }
  }
  section.post-body {
    margin-top: 20px;
  }
  img {
    display: block;
    margin: 0px auto 20px;
    max-width: 100%;
  }
  // Responsive Video technique from :https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php
  .video-wrap {
    margin-bottom: 20px;
  	position: relative;
  	padding-bottom: 56.25%; /* 16:9 */
  	padding-top: 25px;
  	height: 0;
    iframe {
    	position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
    }
  }
}
