.details {
  display: table;
  margin-bottom: 20px;
  position: relative;
  text-transform: lowercase;
  img {
    height: 50px;
    width: 50px;
    margin-right: 10px;
    vertical-align: middle;
  }
  .detail-text {
    display: table-cell;
    vertical-align: middle;
  }
  a {
    display: inline-block;
  }
}

.proposal-wrap {
  display: inline-block;
  float: left;
  position: relative;
  width: 100%;
  @media screen and (min-width: $medium) {
    width: 70%;
  }
  @media screen and (min-width: $large) {
    width: 60%;
  }
}

.proposal {
  list-style-position: inside;
  margin-bottom: 30px;
  padding: 20px;
  word-wrap: break-word;
  @media screen and (min-width: $medium) {
    padding: 20px 35px;
    width: 80%;
  }
  .word {
    margin-bottom: 15px;
  }
  .word a {
    @include underline;
    color: $text-color;
    text-decoration: none;
  }
  .pos {
    margin-bottom: 20px;
  }
  .info {
    margin-bottom: 30px;
  }
  .error {
    display: inline-block;
    margin-bottom: 10px;
    margin-top: -10px;
    margin-right: 5px;
    padding: 0px 5px;
    position: inherit;
    min-width: inherit;
  }
  h3 {
    margin-top: 20px;
    text-transform: capitalize;
  }
  ol {
    padding: 20px 0px;
  }
  .prevProposal {
    font-size: 14px;
    position: absolute;
    left: 150px;
    top: 28px;
  }
  .info {
    display: block;
    left: 0px;
    line-height: 1.4em;
    position: relative;
    vertical-align: text-top;
    width: 93%;
  }
  // For the diff in meaning change
  del, ins {
    text-decoration: none;
  }
  del {
    color: #D49A90;
    text-decoration: line-through;
  }
  ins {
    color: darken($lime, 20%);;
    font-weight: 500;
    + del {
      margin-left: 0.1em;
    }
  }


  .proposal-change-buttons {
    button {
      display: inline-block;
    }
    // The withdraw button should float left
    div > button {
      float: left;
    }
  }
  .edit {
    float: right;
  }
  .withdrawing-popup {
    transition: all .5s;
    background: #FFF;
    border: 2px solid $negative-color;
    border-radius: 2px;
    display: block;
    margin-bottom: 15px;
    padding: 5px;
    position: absolute;
    text-align: center;
    top: -45px;
    width: 200px;
    &:after {
      content: "";
      position: absolute;
      bottom: -15px;
      left: 30px;
      border-width: 15px 15px 0;
      border-style: solid;
      border-color: $negative-color transparent;
      display: block;
      width: 0;
    }
  }
}
