.wrapper.projects {
  .current-projects {
    margin-bottom: 20px;
  }
  .col-2 {
    @media (min-width: $large) {
      display: inline-block;
      width: 49%;
      vertical-align: top;
    }
    h3 {
      margin-bottom: 10px;
    }
    project-card {
      width: auto;
    }
  }
}
