.project {
  .heading {
    background: $blue;
    color: #FFF;
    padding: 20px;

    h2 {
      color: #FFF;
      display: inline-block;
    }
    .title {
      span {
        font-size: 14px;
        margin-left: 10px;
      }
      a {
        color: #FFF;
        &:hover {
          color: #DDD;
        }
      }
    }
    .progress-bar-title {
      display: inline-block;
      vertical-align: top;
    }
    .progress-bar {
      display: inline-block;
      margin-top: 4px;
      margin-bottom: 20px;
      width: 90%;
      .progress, .bar {
        height: 10px;
      }
      .numbers {
        color: #EEE;
      }
    }
  }
  .rules, .project-proposal {
    display: inline-block;
    vertical-align: top;
  }
  .rules {
    margin-right: 100px;
    padding: 20px;
    width: 300px;
    li {
      line-height: 1.4em;
      margin-bottom: 10px;
      strong {
        display: block;
        margin-bottom: 5px;
      }
    }
  }
  .project-proposal {
    padding: 20px 10px;
    width: 50%;
    @media screen and (max-width: $medium) {
      width: 100%;
    }
  }
  .meaning {
    padding: 20px 0px;
    .def {
      margin-bottom: 10px;
    }
  }
}
