.proposals {
  .item {
    margin-bottom: 2px;
    padding: 18px 0px 18px 5px;
    &.open {
      background: lighten($blue, 38%);
      color: darken($blue, 30%);
    }
    &.accepted {
      background: $positive-background;
      color: $positive-color;
    }
    &.rejected {
      background: #EEE;
      color: #CCC;
    }
  }

  .word, .action, .user, .state, .view {
    display: inline-block;
    @media screen and (max-width: $medium) {

    }
  }
  .word {
    font-size: 18px;
    margin-bottom: 0px;
    width: 25%;
  }
  .action {
    width: 22%;
  }
  .user {
    width: 20%;
  }
  .state {
    width: 18%;
  }
}
