.randomOpenProposal {
  display: inherit;
  margin: 0 auto 30px;
  width: 300px;
}

.proposals {
  .item {
    margin-bottom: 2px;
    padding: 18px 0px 18px 5px;
    &.open {
      background: lighten($blue, 38%);
      color: darken($blue, 30%);
    }
    &.accepted {
      background: $positive-background;
      color: $positive-color;
    }
    &.rejected {
      background: #EEE;
      color: #CCC;
    }
  }

  .word, .action, .user, .state, .view {
    display: inline-block;
    @media screen and (max-width: $medium) {

    }
  }
  .word {
    font-size: 18px;
    margin-bottom: 0px;
    width: 25%;
  }
  .action {
    width: 22%;
  }
  .user {
    width: 20%;
  }
  .state {
    width: 18%;
  }
}

.pagination {
  margin-top: 30px;
  position: relative;
  .pageNumber {
    display: block;
    text-align: center;
  }
  .prev, .next {
    position: absolute;
  }
  .prev {
    left: 0px;
  }
  .next {
    right: 0px;
    top: 0px;
  }
}
