.details {
  margin-bottom: 20px;
  text-transform: lowercase;
  img {
    height: 50px;
    width: 50px;
    margin-right: 10px;
    vertical-align: middle;
  }
  a {
    display: inline-block;
  }
}

.proposal {
  display: inline-block;
  float: left;
  list-style-position: inside;
  margin-bottom: 30px;
  padding: 20px 35px;
  position: relative;
  width: 80%;
  @media screen and (min-width: $medium) {
    width: 42%;
  }
  .word a {
    color: $text-color;
    text-decoration: none;
  }
  .pos {
    margin-bottom: 20px;
  }
  .info {
    margin-bottom: 30px;
  }
  h2 {
    text-transform: uppercase;
  }
  h3 {
    margin-top: 20px;
  }
  ol {
    padding: 20px 0px;
  }
  .prevProposal {
    font-size: 14px;
    position: absolute;
    left: 150px;
    top: 28px;
  }
  .info {
    display: block;
    left: 0px;
    line-height: 1.4em;
    position: relative;
    vertical-align: text-top;
    width: 93%;
  }
  // For the diff in meaning change
  del, ins {
    text-decoration: none;
  }
  del {
    color: $red;
    opacity: 0.6;
  }
  ins {
    color: darken($lime, 20%);
    font-weight: 500;
    + del {
      margin-left: 0.1em;
    }
  }


  .proposal-change-buttons {
    position: relative;
  }
  .edit {
    float: right;
  }
  .withdraw {
    @extend .negative;
    display: inline-block;
    float: left;
    &.is-withdrawing {
      @extend .flag;
      display: inline-block;
    }
  }
  .withdrawing-popup {
    @include transition();
    background: #FFF;
    border: 2px solid $negative-color;
    border-radius: 2px;
    display: block;
    margin-bottom: 15px;
    padding: 5px;
    position: absolute;
    text-align: center;
    top: -45px;
    width: 200px;
    &:after {
      content: "";
      position: absolute;
      bottom: -15px;
      left: 30px;
      border-width: 15px 15px 0;
      border-style: solid;
      border-color: $negative-color transparent;
      display: block;
      width: 0;
    }
  }
}



.votes-sidebar {
  background: $header-background;
  display: inline-block;
  padding: 20px 35px;
  vertical-align: top;
  @media screen and (min-width: $medium) {
    float: right;
    width: 30%;
  }
  @media screen and (min-width: $large) {
    width: 40%;
  }
  h4 {
    color: darken($header-background, 30%);
    margin-bottom: 10px;
  }
  .reason {
    margin-bottom: 20px;
  }
  .new-vote {
    button {
      display: inline-block;
      margin-bottom: 20px;
      min-width: 80px;
      width: 32%;
      @media screen and (max-width: $large) {
        width: 100%;
      }
      span {
        margin-right: 10px;
      }
    }
  }
  .comment-box {
    margin-bottom: 20px;
    position: relative;
    div {
      color: #666;
      font-size: 14px;
      margin-bottom: 5px;
    }
    textarea {
      padding: 5px;
      vertical-align: top;
      width: 100%;
    }
    button {
      border-radius: 0px;
      box-shadow: none;
      height: 54px;
      padding: 0px;
      position: absolute;
      right: 1px;
      top: 29px;
      width: 25px;
    }
  }
  .next-proposal {
    @extend button;
    display: inline-block;
    margin-bottom: 30px;
    span {
      font-size: 16px;
      margin-left: 11px;
    }
  }
  .title {
    color: #666;
    font-size: 14px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  .activity {
    margin-bottom: 2px;
    &:nth-child(odd) {
      background: #FDFDFD;
    }
    &:nth-child(even) {
      background: #F3F3F3;
    }
    padding: 8px 4px;
    &.edit {
      border-bottom: 2px solid $dark-green;
      border-top: 2px solid $dark-green;
    }
  }
  .activity.yae {
    .value {
      color: $positive-color;
    }
  }
  .activity.nay {
    .value {
      color: $negative-color;
    }
  }
  .name, .value, .comment, .type {
    display: inline-block;
  }
}
