.randomOpenProposal {
  display: inherit;
  margin: 0 auto 30px;
  width: 300px;
}

.proposals {
  .action, .state-progress, .word, .state {
    display: inline-block;
  }
  .word {
    margin-bottom: 20px;
    width: 100%;
    @media screen and (min-width: $medium) {
      margin-bottom: 0px;
      width: 30%;
    }
  }
  .action, .state-progress {
    width: 48%;
    @media screen and (min-width: $medium) {
      width: 33%;
    }
  }
  .state {
    width: 40%;
    @media screen and (max-width: $small) {
      margin-bottom: 5px;
    }
    @media screen and (min-width: $medium) {
      width: 42%;
    }
  }
  .progress-bar {
    display: inline-block;
    margin-bottom: 0px;
    width: 120px;
  }
}

.pagination {
  margin-top: 30px;
  position: relative;
  .pageNumber {
    display: block;
    text-align: center;
  }
  .prev, .next {
    position: absolute;
  }
  .prev {
    left: 0px;
    padding-right: 20px;
  }
  .next {
    right: 0px;
    padding-left: 20px;
    top: 0px;
  }
}
