.project-index {
  .badge {
    float: right;
    margin: 0 0 10px 20px;
    img {
      width: 200px;
    }
  }
  .state {
    color: $h-color;
    font-weight: 500;
    font-size: 1.2em;
  }
  .remaining {
    margin-top: 20px;
  }
  .progress-numbers {
    margin: 20px 0;
  }
  .prog-num {
    display: inline-block;
    &:not(:first-of-type) {
      margin-left: 20px;
    }
  }
  .progress-bar {
    margin-bottom: 1px;
  }
  .negative {
    color: $red;
  }
  .positive {
    color: $positive-color;
  }
  .metric {
    color: darken($anchor-color, 20%);
    font-weight: 500;
  }
}
