.word {
  font-size: 30px;
}

// Does all the stuff at the top of the page
.wordWrap {
  margin-bottom: 20px;
  position: relative;
  .word {
    display: inline-block;
    margin-right: 10px;
    @media (max-width: $small) {
      margin-bottom: 20px;
    }
    a {
      color: $black;
      text-decoration: none;
    }
    // For the labels div
    + div {
      display: inline-block;
    }
  }
  .button-tabs {
    @media (min-width: $small) {
      position: absolute;
        top: 0px;
        right: 0px;
    }
    > *:not(:last-child) {
      margin-right: 10px;
    }
    a.button {
      &.active {
        background: rgba(158,158,158,.3);
      }
      &:hover {
        color: $black;
      }
    }
  }
  .other-words {
    font-size: 20px;
    margin-top: 20px;
    > div {
      display: inline-block;
    }
    a {
      color: $black;
      text-decoration: none;
    }
  }
}

.pos {
  // color: #888;
  // font-style: italic;
  // margin-right: 5px;
  // These styles were when there was one POS per
  // entry; needs to be more muted now
  border-bottom: 2px solid $taupe;
  display: inline-block;
  font-style: italic;
  margin-left: 0px;

}

.meanings {
  font-size: 20px;
  list-style-position: inside;
  margin-bottom: 30px;
  li {
    padding: 20px 0px;
  }
  .info {
    display: inline-block;
    left: 10px;
    line-height: 1.4em;
    position: relative;
    vertical-align: text-top;
    width: 90%;
  }
  .meaning {
    background: $body-background;
    z-index: 10;
  }
  .locked {
    transition: all .2s;
    display: inline-block;
    margin-left: 10px;
    margin-top: 1px;
    opacity: 0;
    text-decoration: none;
    vertical-align: top;
  }
  .locked {
    color: #BBB;
  }
  .defWrap, .quoteWrap {
    div {
      display: inline-block;
    }
  }
  // The edit link should appear when you hover
  // over the whole meaning (info class)
  .info:hover, .info:focus {
    .locked {
      opacity: 1;
    }
  }
  .locked:focus {
    opacity: 1;
  }

  .def {
    display: inline-block;
  }
  .quote {
    font-style: italic;
    margin-top: 5px;
  }
}

span.quotemark {
  &:first-of-type {
    margin-right: -4px;
  }
  &:last-of-type {
    margin-left: -4px;
  }
}

// Styles for the word proposal tab
// Also used on the user page
.word-proposals {
  @extend .proposals;
  .action-user {
    width: 58%;
  }
  .state-progress {
    width: 40%;
  }
  .word {
    margin-bottom: 10px;
    width: 100%;
  }
  @media screen and (min-width: $medium) {
    .action {
      width: 25%;
    }
    .user {
      width: 25%;
    }
    .state {
      width: 100%;
    }
  }
  @media screen and (min-width: $large) {
    .word {
      margin-bottom: 0px;
      width: 60%;
    }
    .action {
      width: 25%;
    }
    .user {
      width: 25%;
    }
    .state {
      width: 33%;
    }
  }
}


// CSS for Ads

.ad {
  margin: 10px auto;
}
