// Signing in and signing up pages

.sign-module {
  border: 2px solid $module-border;
  box-shadow: 0px 1px 4px #DDD;
  margin: 40px auto;
  max-width: 500px;
  padding: 30px 40px;
  @media screen and (max-width: $small) {
    padding: 30px 20px;
  }
  h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  input {
    display: block;
    font-size: 18px;
    padding: 5px;
    width: 100%;
  }
  .username, .email, .password {
    margin-bottom: 10px;
  }
  .tos {
    font-size: 16px;
    margin-top: 20px;
    margin-left: -5px;
    input {
      display: inline-block;
      float: left;
      width: 18px;
    }
    span {
      display: inline-block;
      margin-top: 5px;
      width: 85%;
    }
  }
  button {
    margin: 30px auto 40px;
  }
  .aside {
    font-size: 14px;
  }
}
