// Signing in and signing up pages

.sign-module {
  border: 2px solid $module-border;
  box-shadow: 0px 1px 4px #DDD;
  margin: 40px auto;
  max-width: 500px;
  padding: 30px 40px;
  @media screen and (max-width: $small) {
    padding: 30px 20px;
  }
  h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .separator {
    border-bottom: 1px solid #EEE;
    margin: 20px 0px;
  }
  input {
    display: block;
    font-size: 18px;
    padding: 5px;
    width: 100%;
  }
  .username, .email, .password {
    margin-bottom: 10px;
  }
  .tos {
    font-size: 16px;
    margin-top: 20px;
    margin-left: -5px;
    input {
      display: inline-block;
      float: left;
      width: 18px;
    }
    .text {
      display: inline-block;
      line-height: 1.3em;
      margin-top: 5px;
      width: 85%;
    }
    .required {
      color: $red;
      margin-right: 5px;
    }
  }

  .auth {
    margin-right: 5px;
    margin-bottom: 20px;
    @include media-min-width($small) {
      display: inline-block !important;
      width: 35%;
    }
    @include media-max-width($small) {
      display: block;
    }
    span {
      margin-right: 5px;
    }
    &.fb {
      @include button(#3a5795,
                      darken(#3a5795, 10%),
                      darken(#3a5795, 5%),
                      darken(#3a5795, 10%))
    }
    &.gh {
      @include button(#999,
                      #777,
                      #888,
                      #777);
    }
    &.google {
      @include button(#dd4b39,
                      darken(#dd4b39, 10%),
                      darken(#dd4b39, 5%),
                      darken(#dd4b39, 10%))
    }
  }

  button {
    margin: 30px auto 40px;
  }
  .aside {
    font-size: 14px;
  }
}
