.users {
  list-style-position: inside;
  li {
    margin-bottom: 10px;
  }
  img {
    border-radius: 2px;
    margin-right: 10px;
    vertical-align: top;
  }
  a {
    display: inline-block;
    margin-right: 10px;
  }
}
