.words-index {
  .select-pos, .select-label {
    display: inline-block;
    width: 49%;
    .title {
      font-size: 14px;
      margin-bottom: 5px;
    }
  }
  label {
    display: inline-block;
    width: 49%;
  }
}
