<ul class="entries">
  {{#each entry in model.entries}}
    <div class="pos">{{entry.pos}}</div>
    <ol class="meanings">
      {{#each meaning in entry.meanings}}
        {{render "seq/wordset/meaning" meaning}}
      {{/each}}
    </ol>
  {{/each}}
</ul>
