<div class="meanings">
{{#each posListAndMeanings as |posAndMeanings|}}
  <div class="pos">{{posAndMeanings.firstObject}}</div>
  <ol>
    {{#each posAndMeanings.lastObject as |meaning|}}
      {{meaning-display meaning=meaning}}
    {{/each}}
  </ol>
{{/each}}
</div>
