<form {{submit ""}}>
  <div class="sign-module">
    <h3> Reset Password </h3>
    <div class="email">
      <label>E-mail
      {{validated-input type="email" value=email errors=errors.email}}
      </label>
    </div>
    <button {{action "authenticate"}}> Reset Password </button>
  </div>
</form>
