<div class="sign-module">
  <h3> Sign In </h3>
  {{#if errorMessage}}
    <div class="login-error">
      <span class="ion-android-alert"></span>
      {{errorMessage}}
    </div>
  {{/if}}
  <div class="username">
    <label> Username </label>
    {{input value=identification type="text" autofocus="autofocus"}}
  </div>
  <div class="password">
    <label> Password </label>
    {{input type="password" value=password}}
  </div>
  <button {{action "authenticate"}}> Sign In </button>

  <div class="aside">
    Don't have an account? Register {{#link-to 'user.new'}}here{{/link-to}}.
  </div>
</div>
