{{partial "word/entries"}}

{{#if session.isAuthenticated}}
  {{#if showMeaningProposal}}
    {{render "word/new-meaning" newMeaningProposal}}
  {{else}}
    <button class="add-new-meaning" {{action 'toggleShowAddMeaning'}}>
      <span class="ion-plus"></span>
      Add New Meaning
    </button>
  {{/if}}
{{/if}}
