<li class="message link" {{action "goToLink"}}>
  <div class="link-image">
    <img {{bind-attr src="message.user.imageUrl"}} class="icon" />
    <span class="ion-forward"></span>
  </div>
  <div class="info">
    <div class="text">
      {{message.user.id}} shared a link
    </div>
  </div>
</li>
