<div class="wrapper">
  <h1>One day we might ask for donations...</h1>

  <p><strong>But for now, you just got...</strong></p>

  <iframe src="//giphy.com/embed/fRB9j0KCRe0KY?html5=true" width="480" height="364" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</div>
