<div class="wrapper">
  <h1>FAQs</h1>
  <h2>General</h2>
  <dl class="faqs">
    <dd>What is Wordset?</dd>
    <dt>Wordset is a open-source, collaborative, structured dictionary.</dt>
    <dt> We're a team who thinks that most dictionaries are lacking something – the relevance that comes from community input. We also believe that a dictionary, in order to be useful, needs to have a highly-structured layout backed by an API. We've brought these ideas together to form Wordset.</dt>

    <dd>Cool. How do I register?</dd>
    <dt>Click on the menu button on the top right of your screen. Hit the register button on the bottom. Sign up with your Facebook, Github, or Google login or create a new one. Profit.</dt>

    <dd>What's this chat feature all about?</dd>
    <dt>The chat allows users to communicate with each other while they're on the site. All you need to do is sign in (or register and sign in) and click the chat icon on the top right. Ask a question or just say hi :)</dt>

    <dd>Aren't there other collaborative dictionaries?</dd>
    <dt>Yes. We believe that their use is limited by their freeform nature. For a dictionary to be useful, especially for integration into an API, it needs structure.</dt>

    <dd>What are your terms and conditions?</dd>
    <dt>Check out our {{#link-to "info.legal"}}legal page{{/link-to}}.</dt>

    <dd>Where did the original database of English words come from?</dd>
    <dt>The <a href="http://globalwordnet.org/wordnets-in-the-world/">WordNet</a> project at Princeton University.</dt>
  </dl>
  <h2>Proposals and Voting</h2>
  <dl class="faqs">
    <dd>How do I create a proposal?</dd>
    <dt>You can take part in a <a href="https://www.wordset.org/project/54f4fd486461370003000000">community project</a>. You can add a new word. Or you can add a new meaning of a word.</dt>

    <dd>How do I add a new word?</dd>
    <dt>Look for the word in the search bar above. If it's not there, a link will pop up that says "Add a word?" Click that link.</dt>

    <dd>How do I add a new meaning of a Word?</dd>
    <dt>Use the search bar to navigate to the word. Hit the button on the bottom right.</dt>
    
    <dd>How do I edit my proposal?</dd>
    <dt>Navigate to the proposal. Menu > Profile > Your Proposal. Hit edit button.</dt>

    <dd>How do I delete my proposal?</dd>
    <dt>Navigate to the proposal. Menu > Profile > Your Proposal. Hit delete button.</dt>

    <dd>How does voting work?</dd>
    <dt>When a proposal to change a word is made, voting on that proposal opens. Anyone who has an account can vote on a proposal. However, members with more trust have votes with more weight.</dt>
    <dt>If a proposal receives enough positive votes – enough to push it over a boundary that has been set by us – the proposal will be included in the dictionary.</dt>
    <dt>Conversely, if the proposal receives enough negative votes, the proposal will not be included.</dt>

    <dd>What is the "flag" button?</dd>
    <dt>If you feel that a proposal is inappropriate, you can flag the proposal. We understand that the term "inappropriate" is rather loose, but examples of inappropriate proposals include spam or unnecessarily offensive language.</dt>

    <dd>How do I improve my trust?</dd>
    <dt>Trusted users have more sway on voting for proposals. You earn trust on Wordset in a number of ways.</dt>
    <dt>If you make a proposal that is accepted, you increase your trust. If you submit spam or other inappropriate proposals that are flagged, your trust will decrease.</dt>
  </dl>
</div>
