<div class="wrapper">
  <h1>FAQs</h1>
  <h2>General</h2>
  <dl class="faqs">
    <dd>What is Wordset?</dd>
    <dt>Wordset is a open-source, collaborative, structured dictionary.</dt>
    <dt> We're a team who thinks that most dictionaries are lacking something – the relevance that comes from community input. We also believe that a dictionary, in order to be useful, needs to have a highly-structured layout backed by an API. We've brought these ideas together to form Wordset.</dt>

    <dd>Cool. How do I register?</dd>
    <dt>Click on the menu button on the top right of your screen. Hit the register button on the bottom. Sign up with your Facebook, Github, or Google login or create a new one.</dt>

    <dd>How do I get my avatar picture to show up?</dd>
    <dt>We use <a href="en.gravatar.com">gravatar</a> for that. Follow the link and set up your account.</dt>

    <dd>Can I add a slang word?</dd>
    <dt>Sure. In fact, we encourage it. The more words the better, so long as they're not something you just made up. If the slang term is offensive, make sure to label it as such, and don't use it to disrespect others in the example sentence.</dt>

    <dd>What's this chat feature all about?</dd>
    <dt>The chat allows us to communicate with each other while we're on the site. All you need to do is sign in and click the chat icon on the top right. Ask a question or just drop by and say hi :)</dt>

    <dd>Aren't there other collaborative dictionaries?</dd>
    <dt>Yes. We believe that their use is limited by their freeform nature. For a dictionary to be useful, especially for integration into an API, it needs structure.</dt>

    <dd>What are your terms and conditions?</dd>
    <dt>Check out our {{#link-to "info.legal"}}legal page{{/link-to}}.</dt>

    <dd>Where did the original database of English words come from?</dd>
    <dt>The <a href="http://globalwordnet.org/wordnets-in-the-world/">WordNet</a> project at Princeton University.</dt>
  </dl>
  <h2>Proposals and Voting</h2>
  <dl class="faqs">
    <dd>What is a proposal?</dd>
    <dt>A proposal is a suggestion to modify Wordset in some way – through adding a word or meaning, or changing an existing meaning. You can see a {{#link-to "proposals"}} list of open proposals{{/link-to}} here.</dt>

    <dd>How do I create a proposal?</dd>
    <dt>You can take part in a <a href="https://www.wordset.org/project/54f4fd486461370003000000">community project</a>, add a new word, or add a new meaning of a word.</dt>

    <dd>How do I add a new word?</dd>
    <dt>Look for the word in the search bar above. If it's not there, a link will pop up that says "Add a word?" Click that link.</dt>

    <dd>How do I add a new meaning of a Word?</dd>
    <dt>Use the search bar to navigate to the word. Hit the button on the bottom right.</dt>
    
    <dd>How do I edit my proposal?</dd>
    <dt>Navigate to the proposal. Menu > Profile > Your Proposal. Hit edit button.</dt>

    <dd>How do I delete my proposal?</dd>
    <dt>Navigate to the proposal. Menu > Profile > Your Proposal. Hit delete button.</dt>

    <dd>How does the proposal process work?</dd>
    <dt>When you submit a proposal, it will instantly become open for voting.</dt>
    <dt>If a proposal gets 100 "yae" votes, the proposal will be accepted and included in Wordset.</dt>
    <dt>If a proposal gets 100 "nay" votes, the proposal will be rejected. If you vote nay on a proposal, please indicate why and provide a comment with constructive criticism.</dt>
    <dt>You will receive an e-mail notification when your proposal is accepted or rejected. You can also check the status of your proposals at any time by visiting your profile page. Menu > My Profile.</dt>
    <dt>Each member's vote value is determined by their "trust level," a measurement determined by our special algorithm.</dt>
    <dt>The more reasonable of a voter you are, the higher your trust level will increase and the more ability you will have to sway proposals.</dt>

    <dd>How do I improve my trust?</dd>
    <dt>Trusted users have more sway on voting for proposals. You earn trust on Wordset in a number of ways.</dt>
    <dt>Generally speaking, your trust will increase if you make a proposal that is accepted. If you submit spam or other inappropriate proposals that are flagged, your trust will decrease.</dt>
    
    <dd>What is the "flag" button?</dd>
    <dt>If you feel that a proposal is inappropriate, you can flag the proposal. We understand that the term "inappropriate" is rather loose, but examples of inappropriate proposals include spam or unnecessarily offensive language.</dt>
  </dl>
</div>
