<div class="wrapper">
  <h1>FAQs</h1>
  <h2>General</h2>
  <dl class="faqs">
    <dd>What is Wordset?</dd>
    <dt>Wordset is a open-source, collaborative, structured dictionary.</dt>
    <dt> We're a team who thinks that most dictionaries are lacking something – the relevance that comes from community input. We also believe that a dictionary, in order to be useful, needs to have a highly-structured layout backed by an API. We've brought these ideas together to form WordSet.</dt>

    <dd>Aren't there other collaborative dictionaries?</dd>
    <dt>Yes. We believe that their use is limited by their freeform nature. For a dictionary to be useful, especially for integration into an API, it needs structure.</dt>
  </dl>
  <h2>Voting and Proposals</h2>
  <dl class="faqs">
    <dd>How does voting work?</dd>
    <dt>When a proposal to change a word is made, voting on that proposal opens. Anyone who has an account can vote on a proposal. However, members with more trust have votes with more weight.</dt>
    <dt>If a proposal receives enough positive votes – enough to push it over a boundary that has been set by us – the proposal will be included in the dictionary.</dt>
    <dt>Conversely, if the proposal receives enough negative votes, the proposal will not be included.</dt>

    <dd>What is the "flag" button?</dd>
    <dt>If you feel that a proposal is inappropriate, you can flag the proposal. We understand that the term "inappropriate" is rather loose, but examples of inappropriate proposals include spam or unnecessarily offensive language.</dt>

    <dd>How do I improve my trust?</dd>
    <dt>Trusted users have more sway on voting for proposals. You earn trust on WordSet via a number of ways.</dt>
    <dt>If you make a proposal that is accepted, you increase your trust. If you submit spam or other inappropriate proposals that are flagged, your trust will decrease.</dt>
  </dl>
</div>
