<div class="wrapper">
  <h1>Get Started</h1>
  <p>First of all, welcome to the world's first structured, collaborative dictionary. We're glad you're here. If you're just interested in using the dictionary, all you need is the search bar above. But if you want to help out with the project, you've come to the right place.</p>
  <p>We need smart, motivated, and most of all friendly people to make this project a success.</p>
  <h2>Sign Up</h2>
  <p>The first step in helping out is signing up for an account. You can go to the right-hand bar or {{#link-to "users.new"}}click here{{/link-to}}.</p>
  <h2>Guidelines</h2>
  {{!FAQs needs a link in next line}}
  <p>Once you have done that, read through our {{#link-to "info.faqs"}}FAQs{{/link-to}} and {{#link-to "info.guidelines"}}guidelines{{/link-to}} to get an idea of what Wordset is all about.</p>
  <h2>Rank and Points</h2>
  <p>As you contribute to Wordset, you will get points for suggesting meanings that are accepted and for voting on others' proposals.</p>
  <p>The number of points you have influences your trust level on the site. The higher your trust level, the more sway you have in voting on proposals.</p>
  <h2>Proposals</h2>
  <p>A proposal is a suggestion to modify Wordset in some way – through adding a word or meaning, or changing an existing meaning. You can see a {{#link-to "proposals"}} list of open proposals{{/link-to}} here.</p>
  <p> Clicking on an open proposal allows you to vote on it. You can vote "yae" if you agree with the change, "nay" if you disagree, or flag the proposal if you think it is inappropriate in some way. If you vote "nay" or to "flag", we ask you to leave a comment explaining why you feel that way and how the proposal could be improved.</p>
  <p>When the proposal hits a threshold (either +100 or -100 points), it will be accepted into Wordset or rejected. </p>
  <h2>Where Next?</h2>
  <p>If you've voted on some proposals, why not submit your own? Hit the {{#link-to "words.random"}}random{{/link-to}} link to see a random word in Wordset.</p>
  <p>If you feel like you can improve on an entry, you can submit your own proposal. Next to every entry there are links to edit. Plus you can suggest new meanings at the bottom of every page.</p>
  <p>Make your changes, submit a reason (and sources if you think that will help your case), and watch your changes get added to the dictionary!</p>
</div>
