<div class="wrapper">
  <h1>Wordset Project Goals</h1>

  <p><em>by Hampton and Michael Lintorn Catlin, co-founders of Wordset
    on March 17, 2015</em></p>

  <p>Wordset is an open-source, collaborative dictionary that aims
  to democratize language. Before this project, all structured
  dictionaries of quality were copyrighted by large corporations
  and institutions. Existing open dictionaries were either extremely
  unstructured or closed off from collaboration.</p>

  <p>We have six major project goals:</p>

  <h2>1) Democratize Language</h2>
  <p>
      We think it’s absurd that large corporations and institutions have a total copyright stranglehold on the meanings to the very words that we use. How can a small set of major corporations have absolute sway over the way people learn and reference meanings? We find existing open dictionaries to be lacking in many respects.*
  </p>

  <h2>2) Build An Amazing Community</h2>
  <p>
    For many projects, this is a means to an end, but for us building an awesome, open, intelligent, supportive, diverse, kind, and loving community is a primary goal of this project. Without contributors and community members committed to these goals, we won’t be able to achieve anything.
  </p>

  <h2>3) Track Realistic Language</h2>
  <p>
    We’re interested in understanding more about how language is used and want to base our information on actual usage. We’re not interested in dictating usage of language, but instead observing and tracking it. What does the word mean to actual speakers of the language? What kinds of nuance does it hold? Are certain meanings regional? It’s important that we view ourselves as explorers mapping a coast, not avatars of the previous generation of dictionaries.
  </p>

  <h2>4) Prove Out Gamification For Collaboration</h2>
  <p>
    We believe that most online collaborative projects (we’re looking at you, Wikipedia) could do a lot to make themselves more accessible to people. We believe that gamification is a powerful force to help people internally and externally metric the value of their efforts. To us, gamification is simply putting metaphoric mile markers along the road to being a productive community member.
  </p>

  <h2>5) Help People Learn English</h2>
  <p>
    The closed source nature of dictionaries means that the development of language-learning tools is stunted. We want to help bring first-rate, simple, and rich meanings to a worldwide audience.
  </p>

  <h2>6) Make The World Better</h2>
  <p>
    This may as well be at the top of the list, as it underpins all of the above goals. We believe in communities working towards a shared goal of making the world better. It really sums up a lot of our philosophy and our reasons for doing this project. Always leave the campsite in better shape than you found it.
  </p>

  <p><em>
    * The content of Wiktionary is pretty good, but Mediawiki (the software) is clearly not built for dictionaries and it inherits all of the downsides of Wikipedia. WordNet, if you spend any time with it, is of overall very low quality for definitions.
  </em></p>
</div>
