<div class="wrapper guidelines">
  <h1>Guidelines</h1>
  <p>WordSet is a structured dictionary. As such, we try to follow these guidelines to create a standardized resource. Our overall goal is usability.</p>
  <h2>Overall</h2>
  <ul>
    <li>Be civil. We will not accept harassing behavior from anyone.</li>
  </ul>
  <h2>Meanings</h2>
  <ul>
    <li>Try to give a reference (e.g. a link to a newspaper article) for a new meaning. This makes your argument for its inclusion more powerful.</li>
    <li>If a meaning is chiefly regional, add a parenthetical note to the meaning illustrating it as such – e.g. "(chiefly Northeast US)"</li>
  </ul>
  <h2>Example Sentences</h2>
  <ul>
    <li>Avoid the use of gendered pronouns. Use the first person or the singular "they" – e.g. "They tried sushi for the first time."</li>
    <li>Avoid the passive voice where possible.</li>
  </ul>
</div>
