<div class="wrapper guidelines">
  <h1>Guidelines</h1>
  <p>WordSet is a structured dictionary. As such, we try to follow these guidelines to create a standardized resource. Our overall goal is usability.</p>
  <h2>Overall</h2>
  <ul>
    <li><em>Originality: Do not copy directly from any other dictionaries or sources.</em> Other dictionaries are often strictly licensed, and it's our aim to build a unique and novel online dictionary. We started the project with the seeds of a Princeton project called WordNet, but we are working hard to drastically improve on their work.</li>
    <li><em>Kindness: We strive to be a kind community so be nice and helpful to people, even if you're frustrated.</em> We find that the fastest way to destroy a community is through not practicing kindness. We believe that kind communities are productive communities.</li>
    <li><em>Sourced: Give sources for proposals where possible and appropriate.</em> Especially when suggesting new words or meanings, a source for your proposal is essential. Examples of good sources are nationally-recognized newspapers and magazines.</li>
  </ul>
  <h2>Meanings and Examples</h2>
  <ul>
    <li>If a meaning is chiefly regional, add a parenthetical note to the meaning illustrating it as such – e.g. "(chiefly Northeast US)"</li>
    <li>Avoid the use of gendered pronouns. Use the first person or the singular "they" – e.g. "They tried sushi for the first time."</li>
    <li>Avoid the passive voice where possible – e.g. "The dog chased the cat," rather than "The cat was chased by the dog." </li>
  </ul>
  <h2>Proposal Process</h2>
  <ul>
    <li>When you submit a proposal, it will then be open for voting.</li>
    <li>If a proposal gets 100 "yae" votes, the proposal will be accepted and included in Wordset.</li>
    <li>If a proposal gets 100 "nay" votes, the proposal will be rejected. If you vote nay on a proposal, please indicate why, providing a comment with constructive criticism.</li>
    <li>If your proposal is accepted or rejected, you will receive an e-mail notification.</li>
    <li>Each user's vote value is determined by their "rank" (a trust measurement), from 1 point for new users, to 50 points for a senior editor, to 100 points from an administrator.</li>
    <li>The more you are a reasonable voter, the higher your rank will increase, and therefore your ability to sway the proposals.</li>
  </ul>
</div>
