<div class="wrapper guidelines">
  <h1>Guidelines</h1>
  <p>Wordset is a structured dictionary. As such, we try to follow these guidelines to create a standardized resource. Our overall goal is usability.</p>
  <h2>Overall</h2>
  <ul>
    <li><em>Kindness</em>: We strive to be a kind community. Be nice and helpful to people, even if you're frustrated.</li>
    <li><em>Originality</em>: Do not copy directly from any other dictionaries or sources. Other dictionaries are often strictly licensed, and it's our aim to build a unique and novel online dictionary.</li>
    <li><em>Sourced</em>: Give sources for proposals where possible and appropriate. Especially when suggesting new words or meanings, a source for your proposal is essential. Examples of good sources include nationally recognized newspapers, magazines, and academic publications.</li>
  </ul>
  <h2>Meanings and Examples</h2>
  <ul>
    <li>Avoid the use of gendered pronouns. Instead of using "he" or "she," employ the singular "they" – e.g. "They tried sushi for the first time." There is significant <a href="http://en.wikipedia.org/wiki/Singular_they">historical precedent</a> for this usage.
    </li>
    <li>Avoid the passive voice where possible – e.g. "The dog chased the cat," rather than "The cat was chased by the dog." </li>
    <li>Start example sentences with a capital letter and end them with the appropriate punctuation.</li>
  </ul>
</div>
