/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

$serif: Garamond, serif;
$sans-serif: "Avenir Next", sans-serif;

$large: 1200px;
$medium: 940px;
$small: 550px;

$black: #100B00;
$lime: #81C14B;
$dark-green: #3E5641;
$mint: #AFE0A1;
$yellow: #EEE82C;
$taupe: #929487;
$light-grey: #ECECEC;
$red: #BF2719;

$brown: #6B6054;

$header-color: $dark-green;
$header-background: $light-grey;
$sign-in-color: $lime;

$text-color: $black;

$anchor-color: $lime;
$anchor-hover-color: darken($lime, 10%);

$button-background-positive: $lime;
$button-hover-background-positive: darken($lime, 10%);

$button-background-negative: $dark-green;
$button-hover-background-negative: darken($dark-green, 10%);

$module-border: $dark-green;

$dropdown-anchor-color: $dark-green;

$footer-color: $dark-green;
$footer-hover-color: lighten($dark-green, 10%);
$footer-background: $light-grey;


@mixin transition($time: 0.5s, $type: all) {
  -webkit-transition: $type $time;
  transition: $type $time;
}



body {
  background: $header-background;
  color: $text-color;
  font-family: $sans-serif;
  font-size: 18px;
}

.wrapper {
  display: block;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
}

img {
  margin-bottom: 50px;
  width: 100%;

}

h2 {
  color: $taupe;
  font-size: 30px;
  margin-bottom: 30px;
}

p {
  line-height: 1.4em;
  margin-bottom: 20px;
}

a {
  @include transition();
  color: $anchor-color;
  cursor: pointer;
  text-decoration: underline;
  &:hover {
    color: $anchor-hover-color;
  }
}

input {
  box-sizing: border-box;
  font-family: $sans-serif;
  font-size: 16px;
  margin: 10px 0px;
  padding: 5px;
  width: 100%;
}

button {
  @include transition();
  background: $button-background-positive;
  border: 0;
  border-radius: 2px;
  box-shadow: inset 0px 1px 1px lighten($button-background-positive, 15%), 0px 1px 1px #DDD;
  color: #FFF;
  cursor: pointer;
  display: block;
  font-size: 18px;
  margin: auto;
  padding: 10px 20px;
  text-shadow: 0px 1px 0px $button-hover-background-positive;
  &:hover {
    background: $button-hover-background-positive;
  }
  &.negative {
    background: $button-background-negative;
    box-shadow: inset 0px 1px 1px lighten($button-background-negative, 15%), 0px 1px 1px #DDD;
    text-shadow: 0px 1px 0px $button-hover-background-negative;
    &:hover {
      background: $button-hover-background-negative;
    }
  }
}

// Sticky Footer thing

html, body, body > div {
  height: 100%;
}
.content {
  min-height: 90%;
  /* equal to footer height */
  margin-bottom: -120px;
}
.content:after {
  content: "";
  display: block;
}
.footer, .content:after {
  height: 120px;
}
