<div class="wrapper">
  <h1>Help & Information</h1>
  <h2>General</h2>
  <dl class="faqs">
    <dd>What is Wordset?</dd>
    <dt>Wordset is a open-source, collaborative, structured dictionary.</dt>

    <dd>Aren't there other collaborative dictionaries?</dd>
    <dt>Yes. We believe that their use is limited by their freeform nature. For a dictionary to be useful, especially for integration into an API, it needs structure.</dt>

    <dd>What is your license policy?</dd>
    <dt>TBD.</dt>
  </dl>
  <h2>Voting and Proposals</h2>
  <dl class="faqs">
    <dd>How does voting work?</dd>
    <dt>When a proposal to change a word is made, voting on that proposal opens. Anyone who has an account can vote on a proposal. However, certain trusted members have votes with more weight.</dt>
    <dt>If a proposal receives enough positive votes – enough to push it over a boundary that has been set by us – the proposal will be included in the dictionary.</dt>
    <dt>Conversely, if the proposal receives enough negative votes, the proposal will not be included.</dt>

    <dd>What is the "flag" button?</dd>
    <dt>If you feel that a proposal is inappropriate, you can flag the proposal.</dt>

    <dd>How do I become a trusted user?</dd>
    <dt></dt>
  </dl>
</div>
