

<div class="wrapper home">
  <h1>The collaborative dictionary.</h1>
  <p>Search for a word above to get started, or get a {{#link-to "words.random"}}random word{{/link-to}}.</p>

  <h2>Current Project</h2>
  {{project-info project=activeProject}}


  <h2>Get involved</h2>
  <div class="links">
    {{#link-to "info.get-started"}}
      <div class="ionicon ion-asterisk"></div>Contributing {{/link-to}}
    {{#link-to "info.guidelines"}}
      <div class="ionicon ion-ios-paper"></div>Guidelines {{/link-to}}
    {{#link-to "info.faqs"}}
      <div class="ionicon ion-help"></div>FAQs {{/link-to}}
  </div>

  <h2>Recent Activity</h2>
  <div class="recent-activity">
    {{render "dashboard/activities" activities}}
  </div>

  <h2>Contact</h2>
  <ul class="contact">
    <li><a href="http://twitter.com/thewordset" target="_blank">
      <span class="ion-social-twitter"></span>Twitter
    </a></li>
    <li><a href="mailto:contact@teamrarebit.com" target="_blank">
      <span class="ion-email"></span>Email
    </a></li>
  </ul>
</div>
