<div class="wrapper">
  <ul class="links">
    <li>{{#link-to "info.get-started"}} Get Started {{/link-to}}</li>
    <li>{{#link-to "info.guidelines"}} Contribution Guidelines {{/link-to}}</li>
    <li>{{#link-to "info.faqs"}} FAQs {{/link-to}}</li>
    <li>{{#link-to ""}} Legal {{/link-to}}</li>
  </ul>

  <h2>Contact</h2>
  <ul class="contact">
    <li><a href="http://twitter.com/thewordset" target="_blank">
      <span class="ion-social-twitter"></span>Twitter
    </a></li>
    <li><a href="mailto:contact@teamrarebit.com" target="_blank">
      <span class="ion-email"></span>Email
    </a></li>
  </ul>
</div>
