<div class="wrapper">
  <h1> Welcome to the first collaborative, structured dictionary.</h1>

  <p> Search for a word above to find a definition.</p>

  <p> If you want to help collaborate on the dictionary, {{#link-to 'user.new'}}create an account{{/link-to}}. We're always looking for proposals of new words, changes to definitions, or sample quotes.</p>

  <p> We're a team who thinks that most dictionaries are lacking something – the relevance that comes from community input. We also believe that a dictionary, in order to be useful, needs to have a highly-structured layout backed by an API. We've brought these ideas together to form WordSet.</p>
</div>
