<div class="two-column-wrapper home">

  <div class="wrapper-left">
    <h1>The Collaborative, Open Dictionary.</h1>

    <p>Wordset is the world's first structured dictionary that you can contribute to. Look up a word, propose an improvement, and have your change accepted into the dictionary.</p>

    <div class="links">
      {{#link-to "info.goals"}}
        <div class="ionicon ion-ios-star"></div>Project Goals{{/link-to}}
      {{#link-to "info.faqs"}}
        <div class="ionicon ion-asterisk"></div>FAQs {{/link-to}}
      {{#link-to "info.guidelines"}}
        <div class="ionicon ion-ios-paper"></div>Guidelines {{/link-to}}
    </div>


    <h2>Current Community Project</h2>
    <p>We set projects to focus on a specific area of improving the dictionary. At the moment, we're getting rid of parentheses. Help us out!</p>
    {{project-info project=activeProject}}

    <h2>About Us</h2>

    <p>Wordset is a community of language lovers from around the world dedicated to building the best dictionary alive.</p>

    <p>Wordsetters decided that a platform was needed to document language outside of the mainstream channels. There are several reasons for this.</p>


    <ol>
      <li><p>Current online dictionaries are not easy to navigate and only updated intermittently.</p>

      <p>Wordset is updated continually and it’s easy to navigate structure was built to integrate seamlessly into an API for developers.</p></li>

      <li><p>The better dictionaries out there have a high bar of entry.</p>

      <p>Wiktionary in particular has decent definitions, but contributing can be a time consuming PITA.</p>

      <p>With Wordset, all you have to do is register and start adding words or suggesting changes. You are up and running in a matter of moments.</p></li>

      <li><p>Keeping track of new words is important work.</p>

      <p>Urban Dictionary exists, sure, but it is also a chaotic mess full of bad jokes, insults, and words that people just make up on the spot.</p>

      <p>Wordset is designed so that every new word or change to an existing word goes through a proposal process. This ensures that our database will contain real words and be of use to real people.</p></li>


      <li><p>It is crucial to have a platform for the all of the world’s most used languages and all of the main varieties of each language.</p>

      <p>Wiktionary does this to some degree, but it is so poorly organized that words containing the same letters from different languages with different meanings end up on the same page! Take the word love for example. It has many different meanings in many different languages. If you search Wiktionary, in English, you get all kinds of stuff you don’t want or need. Take a look yourself.</p>

      <p>Wordset was built with support for multiple languages from day one. We launched with English because that is what we know best, but as soon as we have enough interested people, we will begin to launch other languages.</p></li>





      <li><p>We want a dictionary without sexist, racist, homophobic or otherwise offensive example sentences.</p>

      <p>That doesn’t mean that we don’t want to track offensive words. It means we think a dictionary shouldn’t insult people. See our blog post “gender post name” for an example of what we mean.</p></li>

      <li><p>Language belongs to the people who use it.</p>

      <p>Corporations like Merriam-Webster copyright the definitions of words and make millions of dollars selling them back to people. They neither invented the words nor their meanings, so why should they “own” them?</p>

      <p>Wordset believes that language is not something to be owned. It is not for corporate interests to determine when a word is a word or what it means, it is for the community of people who use that language to decide. Wordset aspires to be the vanguard of this community in all of the world’s most used languages.</p></li>

      <li><p>We want to do things that contribute to making the world a better place.</p>

      <p>This may as well be at the top of the list, as it underpins everything we do. We believe in communities working towards a shared goal of of making the world better. Freeing language from copyright and making the best dictionary possible for the most amount of people possible is this project’s small contribution to making the world a better place.</p></li>
    </ol>


    <p>We don’t want to be niche. On the contrary, our goal is to become THE premiere online dictionary. To accomplish that, we need as many like-minded language lovers as we can find. So sign up, sign in, and help make Wordset the best dictionary alive!</p>

    <hr>
    <p>The idea for Wordset is the brainchild of co-founders Hampton and Michael Caitlin, who built and maintain the site. Justin LeFurjah, Wordset’s first employee, takes care of content and community management.</p>

    <p>Wordsetters make the dictionary.</p>
  </div>

  <div class="wrapper-right">

    {{latest-blog-posts}}

    <h2>Recent Activity</h2>
    <div class="recent-activity">
      {{render "dashboard/activities" activities}}
    </div>

  </div>

</div>
