<div class="wrapper home">
  <h1>The Collaborative, Open Dictionary.</h1>

  <section class="news">
    <div class="header">
      <h2>Labeling Language</h2>
    </div>
    <p>
      We want to be the best dictionary alive. That's why we've added a label
      system to tag words by usage or by variety of English. Check out our
      <a href="/post/varieties-and-labels">
        new blogpost on labels</a> for more information.
    </p>
  </section>

  <p>Wordset is the world's first structured dictionary that you can contribute to. Look up a word, propose an improvement, and have your change accepted into the dictionary.</p>

  <div class="links">
    {{#link-to "info.goals"}}
      <div class="ionicon ion-ios-star"></div>Project Goals{{/link-to}}
    {{#link-to "info.get-started"}}
      <div class="ionicon ion-asterisk"></div>Contributing {{/link-to}}
    {{#link-to "info.guidelines"}}
      <div class="ionicon ion-ios-paper"></div>Guidelines {{/link-to}}
  </div>


  <h2>Current Community Project</h2>
  <p>We set projects to focus on a specific area of improving the dictionary. At the moment, we're getting rid of parentheses. Help us out!</p>
  {{project-info project=activeProject}}



  <h2>Recent Activity</h2>
  <div class="recent-activity">
    {{render "dashboard/activities" activities}}
  </div>

</div>
