<div class="wrapper home">
  {{#link-to "info.goals" class="fools-banner"}}
    <div class="text">
      <span>Please Read:</span><br>
      A personal appeal from<br>
      Wordset founder<br>
      Hampton Catlin
    </div>
  {{/link-to}}
  <h1>The Collaborative Dictionary.</h1>

  <section class="news">
    <div class="header">
      <h2>NEWS: We've Open Sourced!</h2>
    </div>
    <p>
      We have open sourced both the definitions and the software running this site.
      {{#link-to "post" "going-open-source"}}Read all about it{{/link-to}}!
    </p>
  </section>

  <div class="links">
    {{#link-to "info.goals"}}
      <div class="ionicon ion-ios-star"></div>Project Goals{{/link-to}}
    {{#link-to "info.get-started"}}
      <div class="ionicon ion-asterisk"></div>Contributing {{/link-to}}
    {{#link-to "info.guidelines"}}
      <div class="ionicon ion-ios-paper"></div>Guidelines {{/link-to}}
  </div>


  <h2>Current Community Project</h2>
  <p>We set projects to focus on a specific area of improving the dictionary. At the moment, we're getting rid of parentheses. Help us out!</p>
  {{project-info project=activeProject}}



  <h2>Recent Activity</h2>
  <div class="recent-activity">
    {{render "dashboard/activities" activities}}
  </div>

</div>
