

<div class="wrapper home">
  <h1>The Collaborative Dictionary.</h1>

  <div class="links">
    {{#link-to "info.goals"}}
      <div class="ionicon ion-ios-star"></div>Project Goals{{/link-to}}
    {{#link-to "info.get-started"}}
      <div class="ionicon ion-asterisk"></div>Contributing {{/link-to}}
    {{#link-to "info.guidelines"}}
      <div class="ionicon ion-ios-paper"></div>Guidelines {{/link-to}}
  </div>


  <h2>Current Community Project</h2>
  <p>We set projects to focus on a specific area of improving the dictionary. At the moment, we're getting rid of parentheses. Help us out!</p>
  {{project-info project=activeProject}}



  <h2>Recent Activity</h2>
  <div class="recent-activity">
    {{render "dashboard/activities" activities}}
  </div>

</div>
