<div class="wrapper home">
  <h1>The Collaborative, Open Dictionary.</h1>

  <p>Wordset is the world's first structured dictionary that you can contribute to. Look up a word, propose an improvement, and have your change accepted into the dictionary.</p>

  <!-- <section class="news">
    <div class="header">
      <h2>V2 Roadmap RFC</h2>
    </div>
    <p>
      After open sourcing, we want to share our plans with
      the community, so checkout our
      <a href="https://github.com/wordset/wordset/wiki/V2-Roadmap">
        v2 plans
      </a> and let us know what you think!
    </p>
  </section> -->

  <div class="links">
    {{#link-to "info.goals"}}
      <div class="ionicon ion-ios-star"></div>Project Goals{{/link-to}}
    {{#link-to "info.get-started"}}
      <div class="ionicon ion-asterisk"></div>Contributing {{/link-to}}
    {{#link-to "info.guidelines"}}
      <div class="ionicon ion-ios-paper"></div>Guidelines {{/link-to}}
  </div>


  <h2>Current Community Project</h2>
  <p>We set projects to focus on a specific area of improving the dictionary. At the moment, we're getting rid of parentheses. Help us out!</p>
  {{project-info project=activeProject}}



  <h2>Recent Activity</h2>
  <div class="recent-activity">
    {{render "dashboard/activities" activities}}
  </div>

</div>
