
{{#if showMenu}}
  {{view "menu-mask"}}
{{/if}}


<nav {{bind-attr class=":menu showMenu:open:closed"}}>
  <ul>
    <li>
      {{#link-to "proposals" class="proposalLink"}}
        <div class="ionicon ion-android-create"></div>
        Proposals
      {{/link-to}}
    </li>
    <li>
      {{#link-to "users" class="contributorLink"}}
        <div class="ionicon ion-trophy"></div>
        Top Contributors
      {{/link-to}}
    </li>
    <li>
      {{#link-to "words.random" class="randomWordLink"}}
        <div class="ionicon ion-ios-infinite"></div>
        Random Word
      {{/link-to}}
    </li>
    {{#if session.isAuthenticated}}
      <li>
        {{#link-to "user.index" currentUser}}
          <div class="ionicon ion-person"></div>
          My Profile
        {{/link-to}}
      </li>
      <li>
        <a {{action "invalidateSession"}}>
          <div class="ionicon ion-android-exit"></div>
          Logout
        </a>
      </li>
    {{else}}
      <li>
        {{#link-to "users.login" class="signin"}}
          <div class="ionicon ion-log-in"></div>
          Sign In
        {{/link-to}}
      </li>
      <li>
        {{#link-to "users.new" class="signup"}}
          <div class="ionicon ion-wand"></div>
          Register
        {{/link-to}}
      </li>
    {{/if}}

  </ul>
</nav>
