<div class="wrapper">
  <h1>404</h1>
  <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/netbun">@netbun</a> I like to think of it as a philosophical dissertation on emptiness.</p>&mdash; Hampton (@hcatlin) <a href="https://twitter.com/hcatlin/status/599664071974096896">May 16, 2015</a></blockquote>
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
