
<div class="wrapper">
  <article class="wrapper post">
    <h1 class="post-title"><span class="ion-social-rss ionicon"></span>{{model.title}}</h1>
    <div class="article-head">
      <div class="post-footer">by Hampton and Michael</div>
      <div class="date-header">{{formattedDate}}</div>
    </div>

    <section class="post-body">
      {{html}}
    </section>
  </article>
</div>
