<div class="wrapper projects">
  <h2>Projects</h2>

  <p>We use projects to provide a focus for improvements to the dictionary.</p>

  <div class="current-projects">
    <h2>Current Projects</h2>
    {{#each project in activeProjects}}
      {{project-card project=project progress=true}}
    {{/each}}
  </div>

  <h3>Completed Projects</h3>
  {{#each project in completedProjects}}
    {{project-card project=project complete=true}}
  {{/each}}

  <h3>Upcoming Projects</h3>
  {{#if upcomingProjects}}
    <ul>
      {{#each project in upcomingProjects}}
        <li>{{project.name}}</li>
      {{/each}}
    </ul>
  {{else}}
    <p> There are no upcoming projects right now. Feel free to suggest one!</p>
  {{/if}}

</div>
