<div class="wrapper projects">
  <h2>Projects</h2>

  <p>We use projects to provide a focus for improvements to the dictionary.</p>

  <div class="current-projects">
    <h2>Current Projects</h2>
    {{#each project in activeProjects}}
      {{project-card project=project fullDescription=true progress=true}}
    {{/each}}
  </div>

  <div class="col-container">
    <div class="col-2">
      <h3>Completed Projects</h3>
      {{#each project in completedProjects}}
        {{project-card project=project}}
      {{/each}}
    </div>

    <div class="col-2">
      <h3>Upcoming Projects</h3>
      {{#if upcomingProjects}}
        {{#each project in upcomingProjects}}
          {{project-card project=project}}
        {{/each}}
      {{else}}
        <p> There are no upcoming projects right now. Feel free to suggest one!</p>
      {{/if}}
    </div>
  </div>

</div>
