<div class="search">
  {{#view "searchbar"}}
    {{input type=text value=searchTerm placeholder="Search" autofocus="autofocus" title="Search for word"}}
    <span class="ion-close-circled" {{action 'clear'}}></span>
  {{/view}}
  {{#if showSearchList}}
    <div class="wordListWrapper">
      {{search-results words=wordList.results selectedWord=selectedWord}}
    </div>
  {{/if}}
</div>
