<div class="wrapper">
  <h2>Top Contributors</h2>

  <ol class="users">
  {{#each user in controller}}
    <li>
      <img {{bind-attr src="user.imageUrl"}} class="avatar" />
      <div class="info">
        {{#link-to "user" user.id}} {{user.id}} {{/link-to}}
        <div class="points">Points: {{user.points}}</div>
      </div>
    </li>
  {{/each}}
  </ol>
</div>
