<div class="wrapper">
  <h2>Top Contributors</h2>

  <ol class="users">
  {{#each user in model}}
    <li>
      <img {{bind-attr src="user.imageUrl"}} />
      {{#link-to "user" user.id}} {{user.id}} {{/link-to}}
      ({{user.points}})
    </li>
  {{/each}}
  </ol>
</div>
