<div class="wrapper">
  <div class="wordWrap">
    <div class="word">
      {{name}}
    </div>
  </div>

  {{word-display word=this action="submitSuggestion" recentlySuggestedModels=recentlySuggestedModels}}
</div>
