{{#if showBanner}}
  <div class="banner">
    This is a collaborative project.
    {{#link-to "users.new"}}Sign up{{/link-to}} to propose improvements!
  </div>
{{/if}}

<div class="wrapper">
  <div class="wordWrap">
    <div class="word">
      {{id}}
    </div>
    <div class="tabs">
      {{#link-to "word.index" class="active"}}Definition{{/link-to}}
      {{#link-to "word.proposals"}}Proposals{{/link-to}}
    </div>
  </div>

  {{outlet}}

</div>
