<div class="wrapper">
  <div class="wordWrap">
    <div class="word">
      {{name}}
    </div>
  </div>

  {{partial "word/entries"}}

  {{#link-to 'word.new-meaning' model class="addMeaningLink"}}
    Propose New Meaning
  {{/link-to}}

  {{outlet}}

</div>
