<div class="wrapper">
  <div class="wordWrap">
    <div class="word">
      {{name}}
    </div>
  </div>

  {{partial "word/entries"}}

  {{#link-to 'word.new-meaning' model}}
    Propose New Meaning<span class="ion-plus-circled"></span>
  {{/link-to}}

  {{outlet}}

</div>
